<div class="contents-width mx-auto px-3 py-5">
    <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'order.index.title' | translate }}</h2>
    <p class="mb-4 text-md-center" [innerHTML]="'order.index.read' | translate"></p>

    <div class="container px-0">
        <div class="row">
            <div class="col-md-4 col-12">
                <button type="button" routerLink="/order/search"
                    class="btn btn-primary btn-block py-3 mb-3">
                    <span class="d-block mb-2">{{ 'order.index.list.search.title' | translate }}</span>
                    <span class="d-block text-x-large"><i class="fas fa-search"></i></span>
                </button>
            </div>
            <!-- <div class="col-md-4 col-12">
                <button type="button" routerLink="/order/search/event"
                    class="btn btn-primary btn-block py-3 mb-3">
                    <span class="d-block mb-2">{{ 'order.index.list.event.title' | translate }}</span>
                    <span class="d-block text-x-large"><i class="fas fa-search"></i></span>
                </button>
            </div> -->
            <div class="col-md-4 col-12">
                <button type="button" routerLink="/order/download"
                    class="btn btn-primary btn-block py-3 mb-3">
                    <span class="d-block mb-2">{{ 'order.index.list.download.title' | translate }}</span>
                    <span class="d-block text-x-large"><i class="fas fa-file-download"></i></span>
                </button>
            </div>
        </div>
    </div>
    
</div>