@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.scroll-horizontal {
    .table {
        min-width: 900px;
    }
}

li {
    width: 33%;
    @include media-breakpoint-down(sm) {
        width: auto;
    }
}