<div class="contents-width mx-auto px-3 py-5">
    <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'admission.schedule.title' | translate }}</h2>
    <p class="mb-4" [innerHTML]="'admission.schedule.read' | translate"></p>
    <div class="mb-3">
        <input type="date" class="form-control rounded-0 text-large" name="date" [(ngModel)]="scheduleDate"
            (change)="selectDate()">
    </div>
    <p *ngIf="(admission | async).scheduleDate" class="text-primary text-large mb-3">{{ (admission |
        async).scheduleDate | formatDate: 'YYYY/MM/DD (ddd)' }}</p>
    <p *ngIf="screeningWorkEvents.length === 0" class="mb-3">{{ 'admission.schedule.notfound' | translate }}</p>
    <app-admission-schedule-work *ngFor="let screeningWorkEvent of screeningWorkEvents"
        [screeningWorkEvent]="screeningWorkEvent" (select)="selectSchedule($event)" class="mb-3"></app-admission-schedule-work>
</div>