@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$body-bg: #000;
$body-color: #FFF;
$theme-colors: (
    primary: #805300, 
    secondary: #b85900, 
    success: #0081CC, 
    info: #dc0b0b, 
    warning: $yellow, 
    danger: $red, 
    light: $gray-100, 
    dark: $gray-800
);

