@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$font-family: -apple-system, "Lucida Grande", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", "メイリオ", Meiryo, Helvetica, Arial, sans-serif;

$theme-colors: (
    primary: #f19730, 
    secondary: #c11329, 
    success: #0081CC, 
    info: #dc700b, 
    warning: $yellow, 
    danger: $red, 
    light: $gray-100, 
    dark: $gray-800
);

$dark-gray: #666;
$gray: #ced4da;
$light-gray: #EEE;

$body-bg: $light-gray;
$body-color: #333;
$body-font-size: 14px;

$header-bg: #c11329;

.btn-primary {
    color: #FFF !important;
}

.btn-outline-primary:hover {
    color: #FFF !important;
}
