<table class="table table-bordered bg-white text-small mb-0 border border-gray">
    <thead>
        <tr>
            <th scope="col" style="width: 40%">{{ 'customer.search.conditions.name' | translate }}</th>
            <th scope="col" style="width: 40%">{{ 'customer.search.conditions.contactPoint' | translate }}</th>
            <th scope="col" style="width: 20%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers let index = index" [class.bg-light-gray]="index % 2 === 0">

            <td class="align-middle">
                <p>{{ customer.name | changeLanguage }}</p>
            </td>
            <td class="align-middle">
                <p *ngFor="let contactPoint of customer.contactPoint" class="mb-3">
                    {{ contactPoint.name }}<br>
                    {{ contactPoint.email }}<br>
                    {{ contactPoint.telephone | libphonenumberFormat }}
                </p>
            </td>
            <td class="align-middle text-center">
                <button class="btn btn-primary mr-2" (click)="purchase.emit(customer)">
                    {{ 'customer.search.button.purchase' | translate }}
                </button>
            </td>
        </tr>
    </tbody>
</table>