<div class="contents-width mx-auto px-3 py-5">
    <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'purchase.cinema.seat.title' | translate }}</h2>
    <p class="mb-4">{{ 'purchase.cinema.seat.read' | translate }}</p>
    <div class="d-flex mb-3">
        <button type="button" class="btn btn-primary mr-2" [disabled]="isLoading | async"
            (click)="allSelectSeats()">{{ 'purchase.cinema.seat.allSelect' | translate }}</button>
        <button type="button" class="btn btn-outline-primary m-0"
            (click)="resetSeats()">{{ 'purchase.cinema.seat.reset' | translate }}</button>
    </div>
    <app-screen *ngIf="(purchase | async).screenData && (purchase | async).screeningEventOffers.length > 0" class="mb-4"
        [screenData]="(purchase | async).screenData" (select)="selectSeat($event)">
    </app-screen>

    <app-purchase-info class="mb-4" [purchase]="purchase | async"></app-purchase-info>

    <h3 class="mb-2 font-weight-bold">{{ 'purchase.cinema.seat.terms' | translate }}</h3>

    <p class="border bg-white p-3 mb-4 text-small scroll-vertical border">
        インターネットチケット販売（以下「本サービス」といいます）をご利用いただくに当たって利用規約（以下「本規約」といいます）を以下の通りに定めます。<br>
        本規約に同意の上本サービスをご利用ください。<br><br>
        When using Internet ticket sales (hereinafter referred to as "the service"), we set the terms of use
        (hereinafter referred to as "this agreement") as follows. <br>
         Please use the above service agreeing to this agreement.
    </p>

    <div class="buttons mx-auto text-center">
        <button type="button" class="btn btn-primary btn-block py-3 mb-3" [disabled]="isLoading | async"
            (click)="onSubmit()">{{ 'purchase.cinema.seat.next' | translate }}</button>
        <button type="button" class="btn btn-link"
            routerLink="/purchase/cinema/schedule">{{ 'purchase.cinema.seat.prev' | translate }}</button>
    </div>

</div>