<div class="container payment-select">
    <div class="row">
        <div class="col-12 col-md-4 mb-3" *ngFor="let payment of payments"
            [class]="payment.paymentAccepted.paymentMethodType">
            <button type="button" class="btn btn-block py-3 m-0 h-100"
                [class]="payment.selected ? 'btn-outline-primary' : 'btn-primary'"
                (click)="selectPaymentMethodType(payment.paymentAccepted.paymentMethodType)">
                <div>{{ payment.categoryCode.name | changeLanguage }}</div>
            </button>
        </div>
    </div>
</div>
<div class="container payment-select">
    <div class="row">
        <ng-container *ngFor="let payment of payments">
            <div *ngIf="payment.selected" [class]="payment.paymentAccepted.paymentMethodType"
                class="w-100 d-flex flex-wrap align-items-center mb-3">
                <p class="mb-2 mb-md-0 col-md-4 text-md-right">
                    {{ payment.categoryCode.name | changeLanguage }}
                </p>
                <p class="col-md-8 d-flex align-items-center position-static">
                    <span class="mr-2">￥</span>
                    <app-numeric-keypad inputType="number" [inputValue]="payment.value" viewPosition="Top"
                        [maxlength]="10" (change)="payment.value = $event; changeValue()"
                        (hidden)="payment.value = ($event.length > 0) ? $event : 0">
                        <input type="number" class="form-control text-large py-2 h-auto"
                            [id]="payment.categoryCode.name" [ngModel]="payment.value" readonly>
                    </app-numeric-keypad>
                    <button type="button" class="btn btn-primary m-0 ml-3"
                        (click)="payment.value = amount; changeValue()">
                        <i class="fas fa-arrow-alt-circle-up"></i>
                    </button>
                    <button type="button" class="btn btn-primary m-0 ml-3" (click)="payment.value = 0; changeValue()">
                        <i class="fas fa-arrow-alt-circle-down"></i>
                    </button>
                </p>
            </div>

            <div *ngIf="payment.selected && payment.paymentAccepted.paymentMethodType === paymentMethodType.Cash"
                class="w-100 d-flex flex-wrap align-items-center mb-3">
                <p class="mb-2 mb-md-0 col-md-4 text-md-right">
                    {{ 'purchase.confirm.change' | translate }}
                </p>
                <p class="col-md-8 text-large" [ngClass]="{'font-weight-bold text-danger': chargeAmount < 0}">
                    {{ chargeAmount | currency : 'JPY' }}</p>
            </div>
        </ng-container>
    </div>
</div>