<div class="contents-width mx-auto px-3 py-5">
    <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'order.search.title' | translate }}</h2>
    <p class="mb-4">{{ 'order.search.read' | translate }}</p>
    <div class="conditions p-3 bg-white mb-4">
        <form (submit)="orderSearch(true)">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="orderDateFrom"
                        class="mb-2">{{ 'order.search.conditions.orderDateFrom' | translate }}</label>
                    <input type="date" class="form-control" name="orderDateFrom" id="orderDateFrom"
                        [(ngModel)]="conditions.orderDateFrom" placeholder="{{ moment().format('YYYY-MM-DD') }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="orderDateThrough"
                        class="mb-2">{{ 'order.search.conditions.orderDateThrough' | translate }}</label>
                    <input type="date" class="form-control" name="orderDateThrough" id="orderDateThrough"
                        [(ngModel)]="conditions.orderDateThrough" placeholder="{{ moment().format('YYYY-MM-DD') }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="confirmationNumber" class="mb-2">{{ 'common.confirmationNumber' | translate }}</label>
                    <input type="text" class="form-control" name="confirmationNumber" id="confirmationNumber"
                        [(ngModel)]="conditions.confirmationNumber"
                        placeholder="{{ 'common.confirmationNumber' | translate }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="orderNumber" class="mb-2">{{ 'common.orderNumber' | translate }}</label>
                    <input type="text" class="form-control" name="orderNumber" id="orderNumber"
                        [(ngModel)]="conditions.orderNumber" placeholder="{{ 'common.orderNumber' | translate }}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="familyName" class="mb-2">{{ 'common.familyName' | translate }}</label>
                    <input type="text" class="form-control" name="familyName" id="familyName"
                        [(ngModel)]="conditions.customer.familyName"
                        placeholder="{{ 'common.familyName' | translate }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="givenName" class="mb-2">{{ 'common.givenName' | translate }}</label>
                    <input type="text" class="form-control" name="givenName" id="givenName"
                        [(ngModel)]="conditions.customer.givenName" placeholder="{{ 'common.givenName' | translate }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="email" class="mb-2">{{ 'common.email' | translate }}</label>
                    <input type="email" class="form-control" name="email" id="email"
                        [(ngModel)]="conditions.customer.email" placeholder="{{ 'common.email' | translate }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="telephone" class="mb-2">{{ 'order.search.conditions.telephone' | translate }}</label>
                    <input type="telephone" class="form-control" name="telephone" id="telephone"
                        [(ngModel)]="conditions.customer.telephone"
                        placeholder="{{ 'order.search.conditions.telephone' | translate }}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="orderStatus" class="mb-2">{{ 'common.orderStatus' | translate }}</label>
                    <select class="form-control" name="orderStatus" id="orderStatus"
                        [(ngModel)]="conditions.orderStatuses">
                        <option [value]="''">{{ 'common.all' | translate }}</option>
                        <!-- <option [value]="orderStatus.OrderCancelled">{{ 'order.search.orderStatus.orderCancelled' | translate }}</option> -->
                        <option [value]="orderStatus.OrderDelivered">
                            {{ 'order.search.orderStatus.orderDelivered' | translate }}</option>
                        <!-- <option [value]="orderStatus.OrderPaymentDue">{{ 'order.search.orderStatus.orderPaymentDue' | translate }}</option> -->
                        <!-- <option [value]="orderStatus.OrderPickupAvailable">{{ 'order.search.orderStatus.orderPickupAvailable' | translate }}</option> -->
                        <!-- <option [value]="orderStatus.OrderProblem">{{ 'order.search.orderStatus.orderProblem' | translate }}</option> -->
                        <option [value]="orderStatus.OrderProcessing">
                            {{ 'order.search.orderStatus.orderProcessing' | translate }}</option>
                        <option [value]="orderStatus.OrderReturned">
                            {{ 'order.search.orderStatus.orderReturned' | translate }}</option>
                    </select>
                </div>
            </div>
            <div class="buttons mx-auto text-center">
                <button type="submit" class="btn btn-primary btn-block py-3"
                    [disabled]="isLoading | async">{{ 'order.search.search' | translate }}</button>
            </div>
        </form>
    </div>
    <p *ngIf="(order | async).orders.length === 0">{{ 'order.search.notfound' | translate }}</p>

    <div *ngIf="(order | async).orders.length > 0">
        <div class="mb-3 text-md-left text-center">
            <button class="btn btn-primary" (click)="downloadCsv()"
                [disabled]="isDownload">{{ 'order.search.download' | translate }}</button>
        </div>
        <div class="d-md-flex align-items-center justify-content-between mb-4">
            <div class="text-md-right text-center mb-3 mb-md-0 order-2">
                <div class="d-inline-block">
                    <pagination [(ngModel)]="confirmedConditions.page" [totalItems]="(order | async).pageCount * 10"
                        [maxSize]="5" [boundaryLinks]="false" previousText="&lsaquo;" nextText="&rsaquo;"
                        firstText="&laquo;" lastText="&raquo;" (pageChanged)="orderSearch(false, $event)"></pagination>
                </div>
            </div>

            <div class="form-group text-center text-md-left mb-3 mb-md-0 order-1">
                <select class="form-control d-inline-block w-auto mr-2" name="actionSelect" id="actionSelect"
                    [(ngModel)]="actionSelect">
                    <option value="">{{ 'order.search.unselected' | translate }}</option>
                    <option [value]="OrderActions.Cancel">{{ 'order.search.cancel' | translate }}</option>
                    <option [value]="OrderActions.Print">{{ 'order.search.print' | translate }}</option>
                </select>
                <button type="button" class="btn btn-primary py-2 px-4"
                    (click)="selecedtAction()">{{ 'order.search.apply' | translate }}</button>
            </div>
        </div>

        <div class="scroll-horizontal">
            <table class="table bg-white border text-small mb-0 border border-gray">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">{{ 'common.orderDate' | translate }}</th>
                        <th scope="col">{{ 'common.confirmationNumber' | translate }}</th>
                        <th scope="col">{{ 'common.event' | translate }}</th>
                        <th scope="col">{{ 'common.customer' | translate }}</th>
                        <!-- <th scope="col">決済方法</th> -->
                        <!-- <th scope="col">注文ステータス</th> -->
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of (order | async).orders let index = index"
                        [class.bg-light-gray]="index % 2 === 0">
                        <td class="align-middle text-large text-center">
                            <i *ngIf="!isSelected(order)" class="far fa-square pointer" (click)="addOrder(order)"></i>
                            <i *ngIf="isSelected(order)" class="far fa-check-square pointer"
                                (click)="removeOrder(order)"></i>
                        </td>
                        <td class="align-middle">
                            <p>{{ order.orderDate | formatDate: 'YYYY/MM/DD (ddd) HH:mm' }}</p>
                        </td>
                        <td class="align-middle">{{ order.confirmationNumber }}</td>
                        <td class="align-middle">
                            <div *ngFor="let acceptedOffer of order.acceptedOffers">
                                <p *ngIf="(acceptedOffer.itemOffered.reservationFor.name | changeLanguage).length > 0">{{
                                    acceptedOffer.itemOffered.reservationFor.name | changeLanguage | slice:0:10 }}</p>
                                <p
                                    *ngIf="!((acceptedOffer.itemOffered.reservationFor.name | changeLanguage).length > 0)">{{
                                    acceptedOffer.itemOffered.reservationFor.name | changeLanguage }}</p>
                                <p>{{
                                    acceptedOffer.itemOffered.reservationFor.superEvent.location.name | changeLanguage }}
                                    / {{
                                    acceptedOffer.itemOffered.reservationFor.location.name | changeLanguage }}</p>
                                <p>{{ acceptedOffer.itemOffered.reservationFor.startDate | formatDate: 'YYYY/MM/DD (ddd) HH:mm' }}
                                    -</p>
                            </div>
                        </td>
                        <td class="align-middle">{{ order.customer.familyName }} {{ order.customer.givenName }}</td>
                        <!-- <td class="align-middle">
                            <div *ngFor="let paymentMethod of order.paymentMethods">
                                <p>{{ paymentMethod.name }}</p>
                            </div>
                        </td> -->
                        <!-- <td class="align-middle">
                            {{ order.orderStatus }}
                        </td> -->
                        <td class="align-middle">
                            <button class="btn btn-primary mr-2" (click)="openDetail(order)"><i
                                    class="fas fa-search-plus"></i></button>
                            <button *ngIf="environment.ORDER_QRCODE"
                                [disabled]="order.orderStatus !== orderStatus.OrderDelivered"
                                class="btn btn-primary mr-2" (click)="openQrCode(order)"><i
                                    class="fas fa-qrcode"></i></button>
                            <button *ngIf="environment.ORDER_PRINT"
                                [disabled]="order.orderStatus !== orderStatus.OrderDelivered"
                                class="btn btn-primary mr-2" (click)="printConfirm([order])"><i
                                    class="fas fa-print"></i></button>
                            <button *ngIf="environment.ORDER_CANCEL"
                                [disabled]="order.orderStatus !== orderStatus.OrderDelivered && order.orderStatus === orderStatus.OrderReturned"
                                class="btn btn-primary" (click)="cancelConfirm([order])"><i
                                    class="fas fa-trash-alt"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>