<div class="contents-width mx-auto px-3 py-5">
    <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'person.search.title' | translate }}</h2>
    <p class="mb-4 text-md-center" [innerHTML]="'person.search.read' | translate"></p>
    <div class="conditions p-3 bg-white mb-4">
        <form (submit)="personSearch(true)">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="id" class="mb-2">{{ 'person.search.id' | translate }}</label>
                    <input type="text" class="form-control" name="id" id="id"
                        [(ngModel)]="conditions.id"
                        placeholder="{{ 'person.search.id' | translate }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="username" class="mb-2">{{ 'person.search.username' | translate }}</label>
                    <input type="text" class="form-control" name="username" id="username"
                        [(ngModel)]="conditions.username" placeholder="{{ 'person.search.username' | translate }}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="familyName" class="mb-2">{{ 'common.familyName' | translate }}</label>
                    <input type="text" class="form-control" name="familyName" id="familyName"
                        [(ngModel)]="conditions.familyName"
                        placeholder="{{ 'common.familyName' | translate }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="givenName" class="mb-2">{{ 'common.givenName' | translate }}</label>
                    <input type="text" class="form-control" name="givenName" id="givenName"
                        [(ngModel)]="conditions.givenName" placeholder="{{ 'common.givenName' | translate }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="email" class="mb-2">{{ 'common.email' | translate }}</label>
                    <input type="email" class="form-control" name="email" id="email"
                        [(ngModel)]="conditions.email" placeholder="{{ 'common.email' | translate }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="telephone" class="mb-2">{{ 'common.telephone' | translate }}</label>
                    <input type="telephone" class="form-control" name="telephone" id="telephone"
                        [(ngModel)]="conditions.telephone"
                        placeholder="{{ 'common.telephone' | translate }}">
                </div>
            </div>
            
            <div class="buttons mx-auto text-center">
                <button type="submit" class="btn btn-primary btn-block py-3 mb-3"
                    [disabled]="isLoading | async">{{ 'person.search.search' | translate }}</button>
                <button type="button" class="btn btn-outline-primary btn-block py-3"
                    (click)="searchConditionClear()">{{ 'person.search.clear' | translate }}</button>
            </div>
        </form>
    </div>
    <p *ngIf="(person | async).persons.length === 0">{{ 'person.search.notfound' | translate }}</p>

    <div *ngIf="(person | async).persons.length > 0">
        <div class="mb-3 text-md-left text-center">
            <button class="btn btn-primary" (click)="downloadCsv()"
                [disabled]="isDownload">{{ 'person.search.download' | translate }}</button>
        </div>
        <div class="d-md-flex align-items-center justify-content-between mb-4">
            <div class="text-md-right text-center mb-3 mb-md-0 person-2">
                <div class="d-inline-block">
                    <pagination [(ngModel)]="confirmedConditions.page" [totalItems]="(person | async).pageCount * 10"
                        [maxSize]="5" [boundaryLinks]="false" previousText="&lsaquo;" nextText="&rsaquo;"
                        firstText="&laquo;" lastText="&raquo;" (pageChanged)="personSearch(false, $event)"></pagination>
                </div>
            </div>
        </div>

        <div class="scroll-horizontal">
            <table class="table bg-white bperson text-small mb-0 border border-gray">
                <thead>
                    <tr>
                        <th scope="col">{{ 'person.search.username' | translate }}</th>
                        <th scope="col">{{ 'person.search.name' | translate }}</th>
                        <th scope="col">{{ 'common.email' | translate }}</th>
                        <th scope="col">{{ 'common.telephone' | translate }}</th>
                        <!-- <th scope="col"></th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let person of (person | async).persons let index = index"
                        [class.bg-light-gray]="index % 2 === 0">
                        <td class="align-middle">{{ ((person.memberOf.membershipNumber !== undefined) ? person.memberOf.membershipNumber : '') }}</td>
                        <td class="align-middle">{{ person.familyName }} {{ person.givenName }}</td>
                        <td class="align-middle">{{ person.email }}</td>
                        <td class="align-middle">{{ person.telephone }}</td>
                        <!-- <td class="align-middle">
                            <button class="btn btn-primary mr-2" (click)="openDetail(person)"><i
                                    class="fas fa-search-plus"></i></button>
                        </td> -->
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>