<div class="contents-width mx-auto px-3 py-5">
    <div class="mb-4">
        <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'setting.title' | translate }}</h2>
        <p class="mb-4 text-md-center" [innerHTML]="'setting.read' | translate"></p>
        <div class="p-3 bg-white mb-4">
            <p class="font-weight-bold mb-3">{{ 'setting.app.title' | translate }}</p>
            <app-input-app *ngIf="inputData?.app" [theaters]="theaters" [data]="inputData?.app"
                (valueChanges)="appForm = $event"></app-input-app>
        </div>
        <div class="p-3 bg-white mb-4">
            <p class="font-weight-bold mb-3">{{ 'setting.device.title' | translate }}</p>
            <app-input-device *ngIf="inputData?.device" [data]="inputData?.device" (valueChanges)="deviceForm = $event"
                (print)="print()" (drawer)="openDrawer()">
            </app-input-device>
        </div>
        <div class="p-3 bg-white mb-4">
            <p class="font-weight-bold mb-3">{{ 'setting.customer.title' | translate }}</p>
            <app-input-customer *ngIf="inputData" [profile]="inputData.profile" [language]="(user | async)?.language"
                (valueChanges)="profileForm = $event">
            </app-input-customer>
        </div>
    </div>

    <div class="buttons mx-auto text-center">
        <button type="submit" [disabled]="isLoading | async" class="btn btn-primary btn-block py-3 mb-3"
            (click)="onSubmit()">{{ 'setting.next' | translate }}</button>
        <button type="button" class="btn btn-outline-primary btn-block py-3" [routerLink]="environment.BASE_URL">{{
            'setting.prev' | translate }}</button>
    </div>
</div>