<div class="contents-width mx-auto px-3 pt-5">
    <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'purchase.event.schedule.title' | translate }}</h2>
    <p class="mb-4" [innerHTML]="'purchase.event.schedule.read' | translate"></p>
</div>
<div class="contents-width mx-auto p-3">
    <div class="mb-3">
        <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker [(ngModel)]="scheduleDate"
            [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD', adaptivePosition: true, showWeekNumbers: false }"
            (bsValueChange)="selectDate($event)" readonly (click)="setDatePicker()">
        <!-- <input type="date" class="form-control rounded-0" name="date" [(ngModel)]="scheduleDate"
            (change)="selectDate()"> -->
    </div>
    <div class="mb-4">
        <p *ngIf="(purchase | async)?.scheduleDate" class="text-primary text-large mb-3">
            {{ (purchase | async).scheduleDate | formatDate: 'YYYY/MM/DD (ddd)' }}
        </p>
        <p *ngIf="screeningWorkEvents.length === 0" class="mb-3">{{ 'purchase.event.schedule.notfound' | translate }}
        </p>
        <app-purchase-event-performance-confirm *ngFor="let screeningWorkEvent of screeningWorkEvents"
            [screeningWorkEvent]="screeningWorkEvent" [readonly]="true" (select)="selectSchedule($event)" class="mb-3">
        </app-purchase-event-performance-confirm>
    </div>

    <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'purchase.event.schedule.terms' | translate }}</h2>
    <div class="mb-4">
        <app-purchase-terms [language]="(user | async).language"></app-purchase-terms>
    </div>

    <div class="buttons mx-auto text-center">
        <button type="button" class="btn btn-primary btn-block py-3 mb-3" [disabled]="screeningWorkEvents.length === 0"
            (click)="onSubmit()">{{ 'purchase.event.schedule.next' | translate }}</button>
        <!-- <button type="button" class="btn btn-link"
            routerLink="/purchase/event/schedule">{{ 'purchase.event.schedule.prev' | translate }}</button> -->
    </div>
</div>