<div class="bg-white">
    <div class="p-3">
        <div class="mb-2">
            <p><strong>{{ screeningWorkEvent.info.name | changeLanguage }}</strong></p>
            <p
                *ngIf="screeningWorkEvent.info.superEvent.headline && (screeningWorkEvent.info.superEvent.headline | changeLanguage)">
                {{ screeningWorkEvent.info.superEvent.headline | changeLanguage }}</p>
            <p
                *ngIf="screeningWorkEvent.info.superEvent.description && (screeningWorkEvent.info.superEvent.description | changeLanguage)">{{
                    screeningWorkEvent.info.superEvent.description | changeLanguage }}</p>
        </div>
        <div class="d-flex align-items-center">
            <div *ngIf="screeningWorkEvent.info.workPerformed?.contentRating"
                class="text-small bg-dark-gray text-white py-1 px-3 mr-2">{{
                    screeningWorkEvent.info.workPerformed.contentRating }}</div>
            <div *ngIf="screeningWorkEvent.info.superEvent.dubLanguage"
                class="text-small bg-dark-gray text-white py-1 px-3 mr-2">{{ 'common.dubbing' | translate }}</div>
            <div *ngIf="screeningWorkEvent.info.superEvent.subtitleLanguage"
                class="text-small bg-dark-gray text-white py-1 px-3 mr-2">{{ 'common.subtitles' | translate }}</div>
            <div *ngIf="screeningWorkEvent.info.workPerformed?.duration && moment.duration(screeningWorkEvent.info.workPerformed.duration).asMinutes() > 0" class="text-small ml-auto">
                {{
                    moment.duration(screeningWorkEvent.info.workPerformed.duration).asMinutes() }}{{ 'common.date.minute' | translate }}
            </div>
        </div>
    </div>
    <ul class="p-3">
        <li *ngFor="let screeningEvent of screeningWorkEvent.data"
            class="border boder-gray rounded p-2 py-md-3 text-md-center d-md-block d-flex justify-content-between align-items-center pointer"
            [ngClass]="{ 
          'bg-white': (moment(screeningEvent.doorTime).unix() < moment().unix() && moment(screeningEvent.endDate).unix() > moment().unix()), 
          'bg-dark-gray text-light-gray': !(moment(screeningEvent.doorTime).unix() < moment().unix() && moment(screeningEvent.endDate).unix() > moment().unix())
          }" (click)="select.emit(screeningEvent)">
            <div>
                <div class="mb-2 text-small">
                    {{ screeningEvent.location.name | changeLanguage }}
                </div>
                <div>
                    <strong class="text-large">{{ moment(screeningEvent.startDate).format('HH:mm') }}</strong>
                    <span>-</span>
                    <span>{{ moment(screeningEvent.endDate).format('HH:mm') }}</span>
                </div>
            </div>
            <hr class="border-0 bg-light-gray my-2">
            <div class="text-center">
                <div
                    *ngIf="moment(screeningEvent.doorTime).unix() < moment().unix() && moment(screeningEvent.endDate).unix() > moment().unix()">
                    <div class="status mb-2" *ngIf="!(moment(screeningEvent.startDate).unix() < moment().unix())">
                        {{ 'admission.schedule.status.opening' | translate }}
                    </div>
                    <div class="status mb-2" *ngIf="moment(screeningEvent.startDate).unix() < moment().unix()">
                        {{ 'admission.schedule.status.nowShowing' | translate }}</div>
                </div>

                <div class="status mb-2" *ngIf="!(moment(screeningEvent.doorTime).unix() < moment().unix())">
                    {{ 'admission.schedule.status.beforeOpening' | translate }}</div>
                <div class="status mb-2" *ngIf="!(moment(screeningEvent.endDate).unix() > moment().unix())">
                    {{ 'admission.schedule.status.filmCompletion' | translate }}</div>
                <div *ngIf="screeningEvent.offers?.itemOffered.serviceOutput?.reservedTicket?.ticketedSeat && environment.DISPLAY_TICKETED_SEAT" class="mb-2 text-small">{{ 'common.seat' | translate }}
                    {{ screeningEvent.remainingAttendeeCapacity }} / {{ screeningEvent.maximumAttendeeCapacity }}
                </div>
                <div *ngIf="!(screeningEvent.offers?.itemOffered.serviceOutput?.reservedTicket?.ticketedSeat)" class="mb-2 text-small">
                    {{ 'admission.schedule.infiniteStock' | translate }}</div>
                <div class="text-small mb-1">{{ 'common.ticketing' | translate }} {{ screeningEvent.checkInCount }}
                </div>
                <div class="text-small">{{ 'common.admission' | translate }} {{ screeningEvent.attendeeCount }}</div>
            </div>
        </li>
    </ul>
</div>