<div class="p-3">
    <div class="mb-4">
        <div class="py-3 border-bottom border-gray">
            <div class="row align-items-center">
                <p class="mb-2 mb-md-0 col-md-4">[{{ 'common.confirmationNumber' | translate }}]</p>
                <p class="col-md-8">{{ order.confirmationNumber }}</p>
            </div>
        </div>
        <div class="py-3 border-bottom border-gray">
            <div class="row align-items-center">
                <p class="mb-2 mb-md-0 col-md-4">[{{ 'common.qrcode' | translate }}]</p>
                <div class="col-md-8">
                    <div *ngFor="let acceptedOffer of order.acceptedOffers; let index = index" class="mb-3">
                        <div class="mb-2">
                            <p class="text-x-small">
                                {{ acceptedOffer.itemOffered.reservationFor.name | changeLanguage }}
                            </p>
                            <p class="text-x-small">
                                <span *ngIf="acceptedOffer.itemOffered.reservedTicket.ticketedSeat">
                                    {{ acceptedOffer.itemOffered.reservedTicket.ticketedSeat.seatNumber }}&nbsp;/&nbsp;</span>
                                <span>{{ acceptedOffer.itemOffered.reservedTicket.ticketType.name | changeLanguage }}&nbsp;/&nbsp;
                                    {{ getTicketPrice(acceptedOffer).single | currency : 'JPY' }}</span>
                            </p>
                        </div>
                        <div><img [src]="urlList[index] | async"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons mx-auto text-center">
        <button type="button" class="btn btn-link"
            (click)="activeModal.dismiss()">{{ 'common.close' | translate }}</button>
    </div>
</div>