<div class="contents-width mx-auto px-3 py-5">
    <div class="mb-4">
        <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'purchase.input.title' | translate }}</h2>
        <p class="mb-4 text-md-center" [innerHTML]="'purchase.input.read' | translate"></p>

        <div class="p-3 bg-white">
            <form *ngIf="profileForm" [formGroup]="profileForm">
                <div *ngFor="let key of getProfileFormKeys()" class="form-group row">
                    <div class="col-md-4 py-2 text-md-right ">
                        <div class="d-inline-flex align-items-center">
                            <p *ngIf="!getAdditionalProperty(key)">{{ 'form.label.' + key | translate }}</p>
                            <p *ngIf="getAdditionalProperty(key)">
                                {{ getAdditionalProperty(key)?.label | changeLanguage }}</p>
                            <p *ngIf="isRequired(key)" class="badge badge-danger ml-2">{{ 'form.required' | translate }}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <input
                            *ngIf="key !== 'email' && key !== 'telephone' && key !== 'gender' && !getAdditionalProperty(key)"
                            type="text" class="form-control" [formControlName]="key" [id]="key"
                            [placeholder]="'form.placeholder.' + key | translate">
                        <input *ngIf="key === 'email'" type="email" class="form-control" [formControlName]="key"
                            [id]="key" [placeholder]="'form.placeholder.' + key | translate">
                        <ngx-intl-tel-input *ngIf="key === 'telephone'" #intlTelInput
                            [preferredCountries]="[CountryISO.Japan]" [enableAutoCountrySelect]="false"
                            [enablePlaceholder]="true" [searchCountryFlag]="true"
                            [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                            [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.Japan" [maxLength]="15"
                            [tooltipField]="TooltipLabel.Name" [phoneValidation]="true" [separateDialCode]="false"
                            inputId="telephone" name="telephone" formControlName="telephone"></ngx-intl-tel-input>
                        <select *ngIf="key === 'gender'" class="form-control" [formControlName]="key" [id]="key">
                            <option value="">{{ 'form.option.unselected' | translate }}</option>
                            <option value="man">{{ 'form.option.man' | translate }}</option>
                            <option value="woman">{{ 'form.option.woman' | translate }}</option>
                        </select>
                        <input *ngIf="getAdditionalProperty(key) && getAdditionalProperty(key)?.inputType === 'input'"
                            type="text" class="form-control" [formControlName]="key" [id]="key" placeholder="">
                        <textarea
                            *ngIf="getAdditionalProperty(key) && getAdditionalProperty(key)?.inputType === 'textarea'"
                            class="form-control" [formControlName]="key" [id]="key" placeholder=""></textarea>
                        <select *ngIf="getAdditionalProperty(key) && getAdditionalProperty(key)?.inputType === 'select'"
                            class="form-control" [formControlName]="key" [id]="key" placeholder="">
                            <option *ngFor="let option of getAdditionalProperty(key)?.option" [value]="option.value">
                                {{ option.label | changeLanguage }}
                            </option>
                        </select>
                        <div *ngIf="profileForm.controls[key].invalid && profileForm.controls[key].touched"
                            class="mt-2">
                            <p *ngIf="profileForm.controls[key].errors?.required" class="text-danger">
                                {{ 'form.validation.required' | translate }}
                            </p>
                            <p *ngIf="profileForm.controls[key].errors?.maxlength" class="text-danger">
                                {{ 'form.validation.maxlength' | translate:{ value:
                                profileForm.controls[key].errors?.maxlength.requiredLength } }}
                            </p>
                            <p *ngIf="profileForm.controls[key].errors?.minlength" class="text-danger">
                                {{ 'form.validation.minlength' | translate:{ value:
                                profileForm.controls[key].errors?.minlength.requiredLength } }}
                            </p>
                            <p *ngIf="profileForm.controls[key].errors?.email" class="text-danger">
                                {{ 'form.validation.email' | translate }}
                            </p>
                            <p *ngIf="profileForm.controls[key].errors?.validatePhoneNumber" class="text-danger">
                                {{ 'form.validation.telephone' | translate }}
                            </p>
                            <div *ngIf="key === 'familyName' || key === 'givenName'">
                                <p *ngIf="(user | async)?.language === 'ja' && profileForm.controls[key].errors?.customPattern"
                                    class="text-danger">
                                    {{ 'form.validation.fullKana' | translate }}</p>
                                <p *ngIf="(user | async)?.language !== 'ja' && profileForm.controls[key].errors?.customPattern"
                                    class="text-danger">
                                    {{ 'form.validation.lowercaseLetters' | translate }}</p>
                            </div>
                            <p *ngIf="profileForm.controls[key].errors?.pattern" class="text-danger">
                                {{ 'form.validation.pattern' | translate }}
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="buttons mx-auto text-center">
        <button type="submit" class="btn btn-primary btn-block py-3 mb-3" [disabled]="isLoading | async"
            (click)="onSubmit()">{{ 'purchase.input.next' | translate }}</button>
        <ng-container *ngIf="(purchase | async)?.customer === undefined">
            <button type="button" class="btn btn-outline-primary btn-block py-3" routerLink="/purchase/confirm">{{
                'purchase.input.prev' | translate }}</button>
        </ng-container>
        <ng-container *ngIf="(purchase | async)?.customer !== undefined && environment.VIEW_TYPE === viewType.Cinema">
            <button type="button" class="btn btn-outline-primary btn-block py-3" routerLink="/purchase/cinema/ticket">{{
                'purchase.input.prev' | translate }}</button>
        </ng-container>
        <ng-container *ngIf="(purchase | async)?.customer !== undefined && environment.VIEW_TYPE === viewType.Event">
            <button type="button" class="btn btn-outline-primary btn-block py-3"
                routerLink="/purchase/event/schedule">{{ 'purchase.input.prev' | translate }}</button>
        </ng-container>
    </div>

</div>