@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";



.status {
    line-height: 24px;
    img {
        width: 24px;
        height: 24px;
    }
}
