<div class="contents-width mx-auto px-3 py-5">
    <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'tasks.accountDepositCSV.title' | translate }}</h2>
    <p class="mb-4 text-md-center" [innerHTML]="'tasks.accountDepositCSV.read' | translate"></p>
    <div class="p-3 bg-white mb-4">

        <div class="mb-3 py-2"><input type="file" (change)="onChangeInput($event)"></div>

        <div class="form-group">
            <div class="form-row align-items-center mb-2">
                <div class="col-md-2 mb-md-0 mb-2">
                    <label for="years">{{ 'tasks.accountDepositCSV.years' | translate }}</label>
                </div>
                <div class="col-md-2 mb-md-0 mb-2">
                    <input id="years" class="form-control" [(ngModel)]="years" type="number">
                </div>
                <div class="col-md-2 mb-md-0 mb-3">
                    <button type="button" class="btn btn-primary btn-block py-2"
                        [disabled]="json.length === 0 || (isLoading | async)"
                        (click)="refine()">{{ 'tasks.accountDepositCSV.refine' | translate }}</button>
                </div>
            </div>
            <p>{{ 'tasks.accountDepositCSV.refineDescription' | translate }}</p>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="amount" class="mb-2">{{ 'tasks.accountDepositCSV.amount' | translate }}</label>
                <input type="number" class="form-control" name="amount" id="amount" [(ngModel)]="amount" placeholder="">
            </div>
            <div class="form-group col-md-8">
                <label for="message" class="mb-2">{{ 'tasks.accountDepositCSV.message' | translate }}</label>
                <input type="text" class="form-control" name="message" id="message" [(ngModel)]="message"
                    placeholder="">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <button type="button" class="btn btn-primary btn-block py-2"
                    [disabled]="targetTable.length === 0 || (isLoading | async)"
                    (click)="deposit()">{{ 'tasks.accountDepositCSV.next' | translate }}</button>
            </div>
        </div>

    </div>
    <p class="mb-4" *ngIf="targetTable.length === 0">{{ 'tasks.accountDepositCSV.notfound' | translate }}</p>

    <div *ngIf="targetTable.length > 0" class="mb-4">
        <h2 class="mb-2 font-weight-bold">{{ 'tasks.accountDepositCSV.targetTable' | translate }} [{{ targetTable.length }}]</h2>
        <div class="scroll-horizontal">
            <table class="table bg-white bperson text-small mb-0 border border-gray">
                <thead>
                    <tr>
                        <th scope="col">{{ 'person.search.username' | translate }}</th>
                        <th scope="col">{{ 'person.search.name' | translate }}</th>
                        <th scope="col">{{ 'tasks.accountDepositCSV.years' | translate }}</th>
                        <!-- <th scope="col">{{ 'tasks.accountDepositCSV.validityMember' | translate }}</th> -->
                        <th scope="col">{{ 'tasks.accountDepositCSV.status' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of targetTable let index = index" [class.bg-light-gray]="index % 2 === 0">
                        <td class="align-middle">
                            {{ data.userName }}
                        </td>
                        <td class="align-middle">{{ data.person?.familyName }} {{ data.person?.givenName }}</td>
                        <td class="align-middle">{{ data.programMembershipCount }}</td>
                        <!-- <td class="align-middle">{{ data.validityMember }}</td> -->
                        <td class="align-middle">{{ data.status }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="buttons mx-auto text-center">
        <button type="button" class="btn btn-link"
            routerLink="/tasks">{{ 'tasks.accountDepositCSV.prev' | translate }}</button>
    </div>
</div>