<div class="contents-width mx-auto px-3 py-5">

    <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'purchase.ticket.title' | translate }}</h2>
    <p class="mb-4">{{ 'purchase.ticket.read' | translate }}</p>

    <div *ngIf="(purchase | async).isUsedMovieTicket" class="mb-4">
        <div class="bg-light-gray p-3 d-md-flex align-items-center movieticket">
            <p class="mb-2 mb-md-0">{{ 'purchase.ticket.mvtk' | translate }}</p>
            <div>
                <button type="button" (click)="openMovieTicket()"
                    class="btn btn-block bg-white border border-gray py-3">
                    <img src="/assets/images/mvtk.svg" height="24">
                </button>
            </div>
        </div>
    </div>

    <div class="mb-4">
        <div *ngFor="let reservation of (purchase | async).reservations"
            class="bg-light-gray p-3 mb-3 d-md-flex align-items-center ticket">
            <div class="mb-3 mb-md-0">
                <span class="mr-3">{{ 'common.seat' | translate }}</span>{{ reservation.seat.seatNumber }}
            </div>
            <div>
                <button *ngIf="reservation.ticket === undefined" type="button" (click)="openTicketList(reservation)"
                    class="btn btn-primary btn-block py-3">{{ 'purchase.ticket.unselected' | translate }}</button>
                <button *ngIf="reservation.ticket !== undefined" type="button" (click)="openTicketList(reservation)"
                    class="btn btn-block border border-primary text-primary bg-white py-3">{{
                        reservation.ticket.ticketOffer.name | changeLanguage }} {{
                        reservation.getTicketPrice().single | currency : 'JPY' }}</button>
            </div>
        </div>
    </div>

    <app-purchase-info class="mb-4" [purchase]="purchase | async"></app-purchase-info>

    <div class="buttons mx-auto">
        <button type="button" class="btn btn-primary btn-block py-3 mb-3" [disabled]="isLoading | async"
            (click)="onSubmit()">{{ 'purchase.ticket.next' | translate }}</button>
        <button type="button" class="btn btn-outline-primary btn-block py-3"
            routerLink="/purchase/cinema/seat">{{ 'purchase.ticket.prev' | translate }}</button>
    </div>


</div>