<div class="">
    <div class="bg-gray p-3">
        <div class="mb-2">
            <p class="font-weight-bold text-large">{{ screeningWorkEvent.info.name | changeLanguage }}</p>
            <p class="text-small"
                *ngIf="screeningWorkEvent.info.superEvent.headline && (screeningWorkEvent.info.superEvent.headline | changeLanguage)">
                {{ screeningWorkEvent.info.superEvent.headline | changeLanguage }}</p>
            <p class="text-small"
                *ngIf="screeningWorkEvent.info.superEvent.description && (screeningWorkEvent.info.superEvent.description | changeLanguage)">{{
                screeningWorkEvent.info.superEvent.description | changeLanguage }}</p>
        </div>
        <div class="d-flex align-items-center">
            <div *ngIf="screeningWorkEvent.info.workPerformed?.duration && moment.duration(screeningWorkEvent.info.workPerformed?.duration).asMinutes() > 0"
                class="text-small ml-auto">
                <span
                    class="mr-1">{{ 'common.duration' | translate }}</span>{{ moment.duration(screeningWorkEvent.info.workPerformed?.duration).asMinutes() }}{{ 'common.date.minute' | translate }}
            </div>
        </div>
    </div>
    <div class="position-relative bg-white py-3">
        <div *ngIf="isSlider" class="swiper-container px-1" #swiper [swiper]="swiperConfig" (resize)="resize()">
            <div class="swiper-wrapper">
                <div *ngFor="let performance of screeningWorkEvent.data" class="px-1 swiper-slide">
                    <app-purchase-event-performance [performance]="performance" (select)="select.emit($event)">
                    </app-purchase-event-performance>
                </div>
            </div>
        </div>
        <div *ngIf="!isSlider" class="d-flex flex-wrap px-1">
            <div *ngFor="let performance of screeningWorkEvent.data" class="performance">
                <app-purchase-event-performance [performance]="performance" (select)="select.emit($event)" class="d-block m-1">
                </app-purchase-event-performance>
            </div>
        </div>
    </div>
</div>