<div class="contents-width mx-auto px-3 py-5">
    <div class="mb-4">
        <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'purchase.complete.title' | translate }}</h2>
        <p class="mb-4 text-md-center" [innerHTML]="'purchase.complete.read' | translate"></p>

        <div class="container mb-4 px-3 py-2 bg-white">
            <div class="row align-items-center">
                <p class="col-4">
                    {{ 'common.confirmationNumber' | translate }}</p>
                <p class="col-8 text-large text-info font-weight-bold">
                    {{ (purchase | async)?.order.confirmationNumber }}
                </p>
            </div>
        </div>

        <div *ngIf="qrcode" class="container mb-4 px-3 py-2 bg-white">
            <div class="row align-items-center">
                <p class="col-md-4 mb-2 mb-md-0">{{ 'purchase.complete.cooperationQRCode' | translate }}</p>
                <p class="col-md-8 text-large text-center text-md-left">
                    <img class="border" [src]="qrcode" alt="">
                </p>
            </div>
        </div>

        <div *ngFor="let eventOrder of eventOrders" class="mb-4">
            <app-item-event [screeningEvent]="eventOrder.event"></app-item-event>
            <div class="bg-white p-3">
                <app-item-list [acceptedOffers]="eventOrder.data"></app-item-list>
            </div>
        </div>

        <div class="mb-4 px-3 bg-white">

            <div class="container px-0">
                <div class="row align-items-center py-3">
                    <p class="mb-2 mb-md-0 col-md-4">{{ 'common.amount' | translate }}</p>
                    <p class="col-md-8 font-weight-bold text-large text-info">
                        {{ (purchase | async)?.order.price | currency : 'JPY' }}</p>
                </div>
                <hr class="border-gray my-0">
                <div class="row align-items-center py-3">
                    <p class="mb-2 mb-md-0 col-md-4">{{ 'common.paymentMethod' | translate }}</p>
                    <div class="col-md-8">
                        <app-item-payment-method *ngIf="categoryCodePayment.length > 0"
                            [paymentMethods]="(purchase | async)?.order.paymentMethods"
                            [categoryCodePayment]="categoryCodePayment">
                        </app-item-payment-method>
                    </div>
                </div>

            </div>
        </div>

        <div class="buttons mx-auto text-center">
            <button *ngIf="(user | async)?.printer.connectionType !== connectionType.None" type="submit"
                class="btn btn-primary btn-block py-3 mb-3" [disabled]="isLoading | async" (click)="print()">{{
                'purchase.complete.next' | translate }}</button>
            <button *ngIf="environment.PRINT_RECEIPT && (user | async)?.printer.connectionType !== connectionType.None"
                type="submit" class="btn btn-primary btn-block py-3 mb-3" [disabled]="isLoading | async"
                (click)="printReceipt()">{{ 'purchase.complete.receipt' | translate }}</button>
            <a *ngFor="let link of environment.ORDER_LINK" class="btn btn-primary btn-block py-3 mb-3" target="_blank"
                [href]="createOrderLink((purchase | async)?.order, link)">{{ link.name | changeLanguage }}</a>
            <button type="button" class="btn btn-outline-primary btn-block py-3" routerLink="/purchase/root">{{
                'purchase.complete.prev' | translate }}</button>
        </div>

    </div>