<div class="contents-width mx-auto px-3 py-5">
    <div class="mb-4">
        <h2 class="text-large mb-4 text-center"><strong>購入情報</strong></h2>
        <p class="mb-4">購入情報をご確認ください。</p>

        <div *ngIf="(purchase | async).authorizeSeatReservations.length === 0">
            <p>購入中のアイテムがありません。</p>
        </div>

        <div *ngFor="let authorizeSeatReservation of (purchase | async).authorizeSeatReservations" class="mb-4 px-3 bg-light-gray position-relative">
            <div class="py-3 border-bottom border-gray">
                <div class="row">
                    <p class="mb-2 mb-md-0 col-md-4">
                        <i class="fas fa-map-marker-alt mr-2"></i>劇場 / スクリーン</p>
                    <p class="col-md-8">{{ authorizeSeatReservation.object.event.superEvent.location.name.ja }} / {{
                        authorizeSeatReservation.object.event.location.name.ja }}</p>
                </div>
            </div>
            <div class="py-3 border-bottom border-gray">
                <div class="row">
                    <p class="mb-2 mb-md-0 col-md-4">
                        <i class="fas fa-film mr-2"></i>作品</p>
                    <p class="col-md-8">{{ authorizeSeatReservation.object.event.superEvent.name.ja }}</p>
                </div>
            </div>
            <div class="py-3 border-bottom border-gray">
                <div class="row">
                    <p class="mb-2 mb-md-0 col-md-4">
                        <i class="far fa-clock mr-2"></i>上映日時</p>
                    <p class="col-md-8">{{
                        moment(authorizeSeatReservation.object.event.superEvent.startDate).format('YYYY/MM/DD (ddd)
                        HH:mm') }}</p>
                </div>
            </div>
            <div class="py-3">
                <div class="row">
                    <p class="mb-2 mb-md-0 col-md-4">
                        <i class="fas fa-ticket-alt mr-2"></i>座席・券種</p>
                    <div class="col-md-8">
                        <div *ngFor="let acceptedOffer of authorizeSeatReservation.object.acceptedOffer" class="mb-2">
                            <p>{{ acceptedOffer.ticketedSeat.seatNumber }}</p>
                            <p>{{ acceptedOffer.name.ja }} / {{
                                getTicketPrice(acceptedOffer).single | currency : 'JPY' }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="close" aria-label="Close" (click)="removeItem(authorizeSeatReservation)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div *ngIf="(purchase | async).authorizeSeatReservations.length > 0" class="buttons mx-auto px-3">
        <button *ngIf="amount > 0" type="button" class="btn btn-primary btn-block py-3 mb-3" [disabled]="isLoading | async" routerLink="/purchase/payment">決済方法選択へ進む</button>
        <button *ngIf="amount === 0" type="button" class="btn btn-primary btn-block py-3 mb-3" [disabled]="isLoading | async" routerLink="/purchase/confirm">購入者情報入力へ進む</button>
        <button type="button" class="btn btn-outline-primary btn-block py-3" routerLink="/purchase/schedule">追加する</button>
    </div>
    <div *ngIf="(purchase | async).authorizeSeatReservations.length === 0" class="buttons mx-auto px-3">
        <button type="button" class="btn btn-outline-primary btn-block py-3" routerLink="/purchase/schedule">スケジュール選択へ</button>
    </div>
</div>