<div class="contents-width mx-auto px-3 py-5">

    <h2 class="text-large mb-4 text-center"><strong>決済方法選択</strong></h2>
    <p class="mb-4">決済方法を選択してください。</p>

    <div class="payment-select d-grid mb-4">
        <button type="button" class="btn btn-primary btn-block py-3 m-0" (click)="selectPaymentMethodType(paymentMethodType.Cash)">
            <div class="mb-md-3"><i class="fas fa-yen-sign mr-2 d-md-none"></i>現金</div>
            <div class="image d-none d-md-block"><i class="fas fa-yen-sign"></i></div>
        </button>
        <button type="button" class="btn btn-primary btn-block py-3 m-0" (click)="selectPaymentMethodType(paymentMethodType.CreditCard)">
            <div class="mb-md-3"><i class="fas fa-credit-card mr-2 d-md-none"></i>クレジットカード</div>
            <div class="image d-none d-md-block"><i class="fas fa-credit-card"></i></div>
        </button>
        <button type="button" class="btn btn-primary btn-block py-3 m-0" (click)="selectPaymentMethodType(paymentMethodType.EMoney)">
            <div class="mb-md-3"><i class="fas fa-mobile-alt mr-2 d-md-none"></i>電子マネー</div>
            <div class="image d-none d-md-block"><i class="fas fa-mobile-alt"></i></div>
        </button>
        <!-- <button type="button" class="btn btn-primary btn-block py-3 m-0">
                <div class="mb-md-3"><i class="far fa-question-circle mr-2 d-md-none"></i>その他</div>
                <div class="image d-none d-md-block"><i class="far fa-question-circle"></i></div>
            </button> -->
    </div>

    <div class="buttons mx-auto">
        <button type="button" class="btn btn-outline-primary btn-block py-3" routerLink="/purchase/ticket">券種選択へ戻る</button>
    </div>
</div>