<div class="p-3">
    <div class="mb-3 text-large">{{ 'modal.purchaseTransaction.title' | translate }}</div>
    <p class="mb-3">{{ 'modal.purchaseTransaction.read' | translate }}</p>
    <div class="buttons mx-auto text-center">
        <button *ngIf="user.purchaseCartMaxLength > purchase.authorizeSeatReservations.length" type="button" class="btn btn-primary btn-block py-3" (click)="close()">{{ 'modal.purchaseTransaction.next' | translate }}</button>
        <button type="button" class="btn btn-primary btn-block py-3" routerLink="/purchase/cinema/cart" (click)="modal.hide()">{{ 'modal.purchaseTransaction.prev' | translate }}</button>
        <button type="button" class="btn btn-link" (click)="modal.hide()">{{ 'common.close' | translate }}</button>
    </div>
</div>