<div class="p-3 scroll-vertical">
    <div *ngFor="let ticket of tickets" class="ticket mb-2">
        <button type="button" (click)="close(ticket)" class="btn btn-block btn-outline-primary py-3">
            <div class="d-flex justify-content-between align-items-center" *ngFor="let priceComponent of ticket.ticketOffer.priceSpecification.priceComponent">
                <p class="w-50 text-left">{{ priceComponent.name | changeLanguage }}</p>
                <p class="w-50 text-right">
                    <span>{{ priceComponent.price | currency : priceComponent.priceCurrency }}</span><!--
                    --><span class="text-small" *ngIf="priceComponent?.referenceQuantity?.value">{{ 'common.referenceQuantityValue' | translate: { value: priceComponent?.referenceQuantity?.value } }}</span>
                </p>
            </div>
        </button>
    </div>
</div>