<div class="p-3 scroll-vertical text-small">
        <div class="mb-2"><strong>{{ 'common.orderDate' | translate }}</strong></div>
        <div class="mb-3">{{ moment(order.orderDate).format('YYYY/MM/DD HH:mm') }}</div>
        <div class="mb-2"><strong>{{ 'common.confirmationNumber' | translate }}</strong></div>
        <div class="mb-3">{{ order.confirmationNumber }}</div>
        <div class="mb-2"><strong>{{ 'common.event' | translate }}</strong></div>
        <div class="mb-3">
            <div *ngFor="let acceptedOffer of order.acceptedOffers">
                <p class="mb-2">{{
                    acceptedOffer.itemOffered.reservationFor.name | changeLanguage }}</p>
                <p class="mb-2">{{
                    acceptedOffer.itemOffered.reservationFor.superEvent.location.name | changeLanguage }} / {{
                    acceptedOffer.itemOffered.reservationFor.location.name | changeLanguage }}</p>
                <p class="mb-2">
                    {{ acceptedOffer.itemOffered.reservationFor.startDate | formatDate: 'YYYY/MM/DD (ddd) HH:mm' }}
                </p>
                <p class="mb-2" *ngIf="acceptedOffer.itemOffered.reservedTicket.ticketedSeat">{{ acceptedOffer.itemOffered.reservedTicket.ticketedSeat.seatNumber }}</p>
                <p class="mb-2">{{ acceptedOffer.itemOffered.reservedTicket.ticketType.name | changeLanguage }} / {{
                    getTicketPrice(acceptedOffer).single | currency : 'JPY' }}</p>
            </div>
        </div>
        <div class="mb-2"><strong>{{ 'common.customer' | translate }}</strong></div>
        <div class="mb-3">
            <p class="mb-2">{{ order.customer.familyName }} {{ order.customer.givenName }}</p>
            <p class="mb-2">{{ order.customer.email }}</p>
            <p class="mb-2">{{ order.customer.telephone | libphonenumberFormat }}</p>
        </div>
        <div class="mb-2"><strong>{{ 'common.orderStatus' | translate }}</strong></div>
        <div class="mb-3">
            <p class="mb-2">{{ order.orderStatus }}</p>
        </div>
    
        <div class="buttons mx-auto">
            <button type="button" class="btn btn-outline-primary btn-block py-3"
                (click)="activeModal.dismiss()">{{ 'common.close' | translate }}</button>
        </div>
    </div>