<div class="p-3 scroll-vertical text-small">
    <div class="py-3 border-bottom border-gray">
        <div class="row align-items-center">
            <p class="mb-2 mb-md-0 col-md-4">[{{ 'common.orderDate' | translate }}]</p>
            <p class="col-md-8">{{ moment(order.orderDate).format('YYYY/MM/DD HH:mm') }}</p>
        </div>
    </div>
    <div class="py-3 border-bottom border-gray">
        <div class="row align-items-center">
            <p class="mb-2 mb-md-0 col-md-4">[{{ 'common.confirmationNumber' | translate }}]</p>
            <p class="col-md-8">{{ order.confirmationNumber }}</p>
        </div>
    </div>
    <div class="py-3 border-bottom border-gray">
        <div class="row align-items-center">
            <p class="mb-2 mb-md-0 col-md-4">[{{ 'common.orderNumber' | translate }}]</p>
            <p class="col-md-8">{{ order.orderNumber }}</p>
        </div>
    </div>
    <div class="py-3 border-bottom border-gray">
        <div class="row align-items-center">
            <p class="mb-2 mb-md-0 col-md-4">[{{ 'common.event' | translate }}]</p>
            <div class="col-md-8">
                <div *ngFor="let eventOrder of eventOrders" class="mb-3">
                    <div>
                        <div class="mb-1">
                            <p class="font-weight-bold">{{ eventOrder.event.name | changeLanguage }}</p>
                            <p class="text-small"
                                *ngIf="eventOrder.event.superEvent.headline && (eventOrder.event.superEvent.headline | changeLanguage)">
                                {{ eventOrder.event.superEvent.headline | changeLanguage }}</p>
                            <!-- <p class="text-small"
                                *ngIf="eventOrder.event.superEvent.description && (eventOrder.event.superEvent.description | changeLanguage)">{{
                                        eventOrder.event.superEvent.description | changeLanguage }}</p> -->
                        </div>
                        <p class="font-weight-bold mb-1">
                            {{ eventOrder.event.startDate | formatDate: 'MM/DD(ddd) HH:mm' }}-{{ eventOrder.event.endDate | formatDate: 'HH:mm' }}
                        </p>
                        <p class="text-small mb-1">
                            <span>{{ eventOrder.event.superEvent.location.name | changeLanguage }}</span>
                            <span>&nbsp;/&nbsp;{{ eventOrder.event.location.name | changeLanguage }}</span>
                            <span *ngIf="eventOrder.event.workPerformed?.duration && moment.duration(eventOrder.event.workPerformed?.duration).asMinutes() > 0">
                                &nbsp;/&nbsp;{{ moment.duration(eventOrder.event.workPerformed?.duration).asMinutes() }}{{ 'common.date.minute' | translate }}
                            </span>
                        </p>
                    </div>
                    <div *ngFor="let acceptedOffer of eventOrder.data">
                        <p>
                            <span *ngIf="acceptedOffer.itemOffered.reservedTicket.ticketedSeat && environment.DISPLAY_TICKETED_SEAT">
                                {{ acceptedOffer.itemOffered.reservedTicket.ticketedSeat.seatNumber }}&nbsp;/&nbsp;</span>{{ acceptedOffer.itemOffered.reservedTicket.ticketType.name | changeLanguage }}&nbsp;/&nbsp;{{
                                            getTicketPrice(acceptedOffer).single | currency : 'JPY' }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-3 border-bottom border-gray">
        <div class="row align-items-center">
            <p class="mb-2 mb-md-0 col-md-4">[{{ 'common.customer' | translate }}]</p>
            <div class="col-md-8">
                <p>{{ order.customer.familyName }} {{ order.customer.givenName }}</p>
                <p>{{ order.customer.email }}</p>
                <p>{{ order.customer.telephone | libphonenumberFormat }}</p>
            </div>
        </div>
    </div>
    <div class="py-3 border-bottom border-gray">
        <div class="row align-items-center">
            <p class="mb-2 mb-md-0 col-md-4">[{{ 'common.orderStatus' | translate }}]</p>
            <p class="col-md-8">{{ order.orderStatus }}</p>
        </div>
    </div>


</div>

<div class="buttons mx-auto text-center">
    <button type="button" class="btn btn-link" (click)="modal.hide()">{{ 'common.close' | translate }}</button>
</div>