<table class="table table-striped table-bordered mb-0">
    <tbody>
        <tr *ngFor="let paymentMethod of paymentMethods">
            <ng-container *ngIf="paymentMethod.typeOf === paymentMethodType.Cash">
                <td scope="row">{{ getPaymentMethodLabel(paymentMethod) }}</td>
                <td class="text-right">
                    <p class="mb-2">{{ paymentMethod.totalPaymentDue.value | currency : 'JPY' }}</p>
                    <div *ngFor="let additionalProperty of paymentMethod.additionalProperty"
                        class="d-flex justify-content-end">
                        <p class="mr-2">
                            {{ 'purchase.complete.' + additionalProperty.name | translate }}
                        </p>
                        <p>{{ additionalProperty.value | currency : 'JPY' }}</p>
                    </div>
                </td>
            </ng-container>
            <ng-container *ngIf="paymentMethod.typeOf === paymentMethodType.MovieTicket 
            || paymentMethod.typeOf === paymentMethodType.MGTicket">
                <td scope="row">
                    {{ getPaymentMethodLabel(paymentMethod) }}<span class="ml-2">({{ paymentMethod.accountId }})</span>
                </td>
                <td class="text-right">
                    {{ paymentMethod.totalPaymentDue.value }}
                </td>
            </ng-container>
            <ng-container *ngIf="paymentMethod.typeOf !== paymentMethodType.Cash
            && paymentMethod.typeOf !== paymentMethodType.MovieTicket 
            && paymentMethod.typeOf !== paymentMethodType.MGTicket">
                <td scope="row">{{ getPaymentMethodLabel(paymentMethod) }}</td>
                <td class="text-right">
                    {{ paymentMethod.totalPaymentDue.value | currency : 'JPY' }}
                </td>
            </ng-container>

        </tr>
    </tbody>
</table>