<table class="table table-striped table-bordered mb-0">
    <tbody>
        <tr *ngFor="let paymentMethod of paymentMethods">
            <td scope="row">
                <p>{{ getPaymentMethodLabel(paymentMethod) }}</p>
                <p *ngIf="paymentMethod.accountId">({{ paymentMethod.accountId }})</p>
            </td>
            <td class="text-right">
                <p *ngIf="paymentMethod.totalPaymentDue.currency === 'JPY'">
                    {{ paymentMethod.totalPaymentDue.value | currency : 'JPY' }}
                </p>
                <p *ngIf="paymentMethod.totalPaymentDue.currency !== 'JPY'">
                    {{ paymentMethod.totalPaymentDue.value }}
                </p>
                <div *ngFor="let additionalProperty of paymentMethod.additionalProperty"
                    class="d-flex justify-content-end">
                    <ng-container
                        *ngIf="additionalProperty.name === 'depositAmount' || additionalProperty.name === 'change'">
                        <p class="mr-2">{{ 'purchase.complete.' + additionalProperty.name | translate }}</p>
                        <p>{{ additionalProperty.value | currency : 'JPY' }}</p>
                    </ng-container>
                    <ng-container
                        *ngIf="!(additionalProperty.name === 'depositAmount' || additionalProperty.name === 'change')">
                        <p class="mr-2">[{{ additionalProperty.name }}]</p>
                        <p>{{ additionalProperty.value }}</p>
                    </ng-container>
                </div>
            </td>
        </tr>
    </tbody>
</table>