<div *ngFor="let profile of profileList" class="py-3 border-bottom border-gray">
    <div class="row align-items-center">
        <ng-container *ngIf="!profile.label">
            <p class="mb-2 mb-md-0 col-md-4">{{ profile.name | translate }}</p>
            <p *ngIf="profile.key !== 'telephone' && profile.key !== 'gender'" class="col-md-8 white-space-pre-wrap">
                {{ profile.value }}
            </p>
            <p *ngIf="profile.key === 'telephone'" class="col-md-8">{{ profile.value | libphonenumberFormat }}</p>
            <p *ngIf="profile.key === 'gender'" class="col-md-8">
                <ng-container *ngIf="profile.valueLabel">
                    {{ profile.valueLabel | changeLanguage }}
                </ng-container>
                <ng-container *ngIf="!profile.valueLabel">
                    {{ profile.value }}
                </ng-container>
            </p>
        </ng-container>
        <ng-container *ngIf="profile.label">
            <p class="mb-2 mb-md-0 col-md-4">{{ profile.label | changeLanguage }}</p>
            <p *ngIf="!profile.valueLabel" class="col-md-8 white-space-pre-wrap">
                {{ profile.value }}
            </p>
            <p *ngIf="profile.valueLabel" class="col-md-8 white-space-pre-wrap">
                {{ profile.valueLabel | changeLanguage }}
            </p>
        </ng-container>
    </div>
</div>