<div class="contents-width mx-auto px-3 py-5">
    <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'development.screen.title' | translate }}</h2>
    <p class="mb-4">{{ 'development.screen.read' | translate }}</p>
    <div class="mb-4 bg-light-gray p-3">
        <div class="form-group">
            <div class="row">
                <p class="col-md-4 py-2 text-md-right">{{ 'common.theater' | translate }}</p>
                <div class="col-md-8">
                    <select class="form-control" [(ngModel)]="branchCode" (change)="changeBranchCode()">
                        <option *ngFor="let data of table" [value]="data.branchCode">{{ data.branchCode }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group mb-0">
            <div class="row">
                <p class="col-md-4 py-2 text-md-right">{{ 'common.screen' | translate }}</p>
                <div class="col-md-8">
                    <select class="form-control" [(ngModel)]="screenCode" (change)="changeScreenCode()">
                        <option *ngFor="let screen of getScreens(branchCode).screens" [value]="screen">{{ screen }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="buttons mx-auto">
        <button type="button" class="btn btn-outline-primary btn-block py-3"
            [routerLink]="environment.BASE_URL">{{ 'development.screen.prev' | translate }}</button>
    </div>

</div>