<div class="contents-width mx-auto px-3 pt-4">
    <div class="buttons mx-auto text-center mb-4">
        <button type="button" class="btn btn-success btn-block py-3" (click)="openQRCodeReader()">{{
            'admission.check.camera.start' | translate }}</button>
    </div>
</div>


<div *ngIf="!(isLoading | async)" class="mb-4">
    <p *ngIf="(user | async)?.entranceGate" class="p-2 bg-white text-center font-weight-bold">{{ (user |
        async)?.entranceGate?.name | changeLanguage }}</p>
    <div *ngIf="qrcodeToken">
        <div *ngIf="qrcodeToken?.availableReservation" class="position-relative py-4 bg-success text-white">
            <div class="contents-width mx-auto px-3">
                <div class="color rounded border border-white"
                    [ngStyle]="{'background-color': qrcodeToken?.availableReservation.reservedTicket.ticketType.color}">
                </div>
                <div *ngIf="qrcodeToken?.checkTokenActions.length === 0"
                    class="flash-text text-xx-large font-weight-bold mb-3 text-center">{{ 'admission.check.success' |
                    translate }}</div>
                <div *ngIf="qrcodeToken?.checkTokenActions.length > 0"
                    class="flash-text text-xx-large font-weight-bold mb-3 text-center">{{ 'admission.check.reEntry' |
                    translate }}</div>
                <table class="table table-bordered text-small mb-0 border-white text-white">
                    <thead></thead>
                    <tbody>
                        <tr *ngIf="qrcodeToken?.availableReservation.reservedTicket.ticketedSeat">
                            <th class="align-middle">{{ 'common.seat' | translate }} / {{ 'common.ticket' | translate }}</th>
                            <td class="align-middle">
                                <app-item-list [authorizeSeatReservations]="[qrcodeToken?.availableReservation]"></app-item-list>
                            </td>
                        </tr>
                        <tr>
                            <th class="align-middle">{{ 'admission.check.entryCount' | translate }}</th>
                            <td class="align-middle">
                                <p>{{ qrcodeToken?.checkTokenActions.length }}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- <p *ngIf="qrcodeToken?.availableReservation.reservedTicket.ticketedSeat">
                <strong class="mr-2">{{ 'common.seat' | translate }}</strong>
                {{ qrcodeToken?.availableReservation.reservedTicket.ticketedSeat.seatNumber }}
                </p>
                <p>
                    <strong class="mr-2">{{ 'common.ticket' | translate }}</strong>
                    {{ qrcodeToken?.availableReservation.reservedTicket.ticketType.name | changeLanguage }}
                </p>
                <p>
                    <strong class="mr-2">{{ 'admission.check.entryCount' | translate }}</strong>
                    {{ qrcodeToken?.checkTokenActions.length }}
                </p> -->
            </div>
        </div>
        <div *ngIf="!qrcodeToken?.availableReservation" class="py-4 bg-danger text-white">
            <div class="contents-width mx-auto px-3">
                <div class="flash-text text-xx-large font-weight-bold mb-2 text-center">{{ 'admission.check.danger' |
                    translate }}</div>
                <p class="text-center mb-3">
                    {{ 'admission.check.alert.qrcode' | translate }}
                </p>
                <table class="table table-bordered text-small mb-0 border-white text-white">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <th class="align-middle">message</th>
                            <td class="align-middle">
                                <p>{{ qrcodeToken?.error?.message }}</p>
                            </td>
                        </tr>
                        <tr>
                            <th class="align-middle">inputCode</th>
                            <td class="align-middle">
                                <p>{{ qrcodeToken?.error?.inputCode }}</p>
                            </td>
                        </tr>
                        <tr>
                            <th class="align-middle">statusCode</th>
                            <td class="align-middle">
                                <p>{{ qrcodeToken?.statusCode }}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div *ngIf="!qrcodeToken" class="p-4 bg-dark text-white text-center">
        <div class="contents-width mx-auto">
            <div class="text-xx-large font-weight-bold mb-2">{{ 'admission.check.waiting' | translate }}</div>
            <p>{{ 'admission.check.alert.waiting' | translate }}</p>
        </div>
    </div>
</div>


<div class="contents-width mx-auto px-3 pb-5">
    <div *ngIf="screeningEvent" class="mb-4 bg-white">
        <app-item-event [screeningEvent]="screeningEvent"></app-item-event>
        <div class="p-3">
            <div>
                <p class="mr-3">
                    <strong class="mr-2">{{ 'common.doorTime' | translate }}</strong>
                    {{ screeningEvent?.doorTime | formatDate: 'MM/DD (ddd) HH:mm' }}
                </p>
                <p>
                    <strong class="mr-2">{{ 'common.startDate' | translate }}</strong>
                    {{ screeningEvent?.startDate | formatDate: 'MM/DD (ddd) HH:mm' }} -
                    {{ screeningEvent?.endDate | formatDate: 'HH:mm' }}
                </p>
                <p class="mr-3">
                    <strong class="mr-2">{{ 'common.reservation' | translate }}</strong>
                    {{ screeningEvent?.maximumAttendeeCapacity - screeningEvent?.remainingAttendeeCapacity }}
                </p>
                <p>
                    <strong class="mr-2">{{ 'common.admission' | translate }}</strong>
                    {{ screeningEvent?.attendeeCount }}
                </p>
            </div>
        </div>
    </div>

    <div class="buttons mx-auto text-center">
        <button type="button" class="btn btn-outline-primary btn-block py-3" routerLink="/admission/schedule">{{
            'admission.schedule.prev' | translate }}</button>
    </div>

</div>