<div class="contents-width mx-auto px-3 pt-5">
    <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'admission.check.title' | translate }}</h2>
    <p class="mb-4 text-md-center" [innerHTML]="'admission.check.read' | translate"></p>
</div>

<div class="contents-width mx-auto px-3">
    <div class="buttons mx-auto text-center mb-4">
        <button type="button" class="btn btn-success btn-block py-3"
            (click)="openQRCodeReader()">{{ 'admission.check.camera.start' | translate }}</button>
    </div>
</div>


<div *ngIf="!(isLoading | async)" class="mb-4">
    <div *ngIf="(admission | async).qrcodeToken">
        <div *ngIf="(admission | async).qrcodeToken.availableReservation" class="p-4 bg-success text-white text-center">
            <div *ngIf="(admission | async).qrcodeToken.checkTokenActions.length === 0"
                class="flash-text text-xx-large font-weight-bold mb-2">{{ 'admission.check.success' | translate }}</div>
            <div *ngIf="(admission | async).qrcodeToken.checkTokenActions.length > 0"
                class="flash-text text-xx-large font-weight-bold mb-2">{{ 'admission.check.reEntry' | translate }}</div>
            <p *ngIf="(admission | async).qrcodeToken.availableReservation.reservedTicket.ticketedSeat && environment.DISPLAY_TICKETED_SEAT">
                <strong class="mr-2">{{ 'common.seat' | translate }}</strong>
                {{ (admission | async).qrcodeToken.availableReservation.reservedTicket.ticketedSeat.seatNumber }}
            </p>
            <p>
                <strong class="mr-2">{{ 'common.ticket' | translate }}</strong>
                {{ (admission | async).qrcodeToken.availableReservation.reservedTicket.ticketType.name | changeLanguage }}
            </p>
            <p>
                <strong class="mr-2">{{ 'admission.check.entryCount' | translate }}</strong>
                {{ (admission | async).qrcodeToken.checkTokenActions.length }}
            </p>
        </div>
        <div *ngIf="!(admission | async).qrcodeToken.availableReservation" class="p-4 bg-danger text-white text-center">
            <div class="flash-text text-xx-large font-weight-bold mb-2">{{ 'admission.check.danger' | translate }}</div>
            <p *ngIf="(admission | async).qrcodeToken.statusCode === 200">
                {{ 'admission.check.alert.event' | translate }}<br>
                <strong>{{ (admission | async).qrcodeToken.statusCode }}</strong>

            </p>
            <p *ngIf="(admission | async).qrcodeToken.statusCode !== 200">
                {{ 'admission.check.alert.qrcode' | translate }}<br>
                <strong>{{ (admission | async).qrcodeToken.statusCode }}</strong>
            </p>
        </div>
    </div>
    <div *ngIf="!(admission | async).qrcodeToken" class="p-4 bg-dark text-white text-center">
        <div class="text-xx-large font-weight-bold mb-2">{{ 'admission.check.waiting' | translate }}</div>
        <p>{{ 'admission.check.alert.waiting' | translate }}</p>
    </div>
</div>


<div class="contents-width mx-auto px-3 pb-5">
    <div class="mb-4 bg-white">
        <div class="p-3">
            <div class="mb-2">
                <p class="font-weight-bold text-large">{{ (admission | async).screeningEvent.name | changeLanguage }}</p>
                <p *ngIf="(admission | async).screeningEvent.workPerformed.headline" class="text-small">
                    {{ (admission | async).screeningEvent.workPerformed.headline }}
                </p>
                <p *ngIf="(admission | async).screeningEvent.superEvent.description && ((admission | async).screeningEvent.superEvent.description | changeLanguage)"
                    class="text-small">
                    {{ (admission | async).screeningEvent.superEvent.description | changeLanguage }}
                </p>
            </div>
            <div class="d-flex align-items-center mb-2">
                <div *ngIf="(admission | async).screeningEvent.workPerformed.contentRating"
                    class="text-small text-white bg-dark py-1 px-3 mr-2">{{
                (admission | async).screeningEvent.workPerformed.contentRating }}</div>
                <div *ngIf="(admission | async).screeningEvent.superEvent.dubLanguage"
                    class="text-small text-white bg-dark py-1 px-3 mr-2">{{ 'common.dubbing' | translate }}</div>
                <div *ngIf="(admission | async).screeningEvent.superEvent.subtitleLanguage"
                    class="text-small text-white bg-dark py-1 px-3 mr-2">{{ 'common.subtitles' | translate }}</div>
                <div *ngIf="(admission | async).screeningEvent.workPerformed?.duration && moment.duration((admission | async).screeningEvent.workPerformed?.duration).asMinutes() > 0"
                    class="text-small ml-auto">
                    <span class="mr-1">{{ 'common.duration' | translate }}</span>{{ moment.duration((admission | async).screeningEvent.workPerformed?.duration).asMinutes() }}{{ 'common.date.minute' | translate }}
                </div>
            </div>
        </div>
        <div class="p-3">
            <p class="theater-name">{{ (admission | async).screeningEvent.superEvent.location.name | changeLanguage }}</p>
            <p class="screen-name">
                <span *ngIf="(admission | async).screeningEvent.location.address" class="mr-2">
                    {{ (admission | async).screeningEvent.location.address | changeLanguage }}
                </span>
                <span>
                    {{ (admission | async).screeningEvent.location.name | changeLanguage }}
                </span>
            </p>
            <div>
                <p class="mr-3">
                    <strong class="mr-2">{{ 'common.doorTime' | translate }}</strong>
                    {{ (admission | async).screeningEvent.doorTime | formatDate: 'MM/DD (ddd) HH:mm' }}
                </p>
                <p>
                    <strong class="mr-2">{{ 'common.startDate' | translate }}</strong>
                    {{ (admission | async).screeningEvent.startDate | formatDate: 'MM/DD (ddd) HH:mm' }} -
                    {{ (admission | async).screeningEvent.endDate | formatDate: 'HH:mm' }}
                </p>
                <p class="mr-3">
                    <strong class="mr-2">{{ 'common.reservation' | translate }}</strong>
                    {{ (admission | async).screeningEvent.maximumAttendeeCapacity - (admission |
                async).screeningEvent.remainingAttendeeCapacity }}
                </p>
                <p>
                    <strong class="mr-2">{{ 'common.admission' | translate }}</strong>
                    {{ (admission | async).screeningEvent.attendeeCount }}
                </p>
            </div>
        </div>
    </div>
    <!-- <div class="p-3 mb-4 bg-light-gray">
        <p><strong class="mr-2">未送信件数</strong> {{ (admission | async).usentList.length }}</p>
        <p>※1分に1回送信されます</p>
    </div> -->

    <div class="buttons mx-auto text-center">
        <button type="button" class="btn btn-link"
            routerLink="/admission/schedule">{{ 'admission.schedule.prev' | translate }}</button>
    </div>

</div>