<div class="contents-width mx-auto px-3 py-5">
    <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'reservation.download.title' | translate }}</h2>
    <p class="mb-4 text-md-center" [innerHTML]="'reservation.download.read' | translate"></p>
    <div class="conditions p-3 bg-white mb-4">
        <app-reservation-condition [name]="'reservation.download.download' | translate"
            [reservationDateValidation]="true" (changeConditions)=changeConditions($event)></app-reservation-condition>
    </div>
    <div class="buttons mx-auto text-center">
        <button type="button" class="btn btn-outline-primary btn-block py-3" routerLink="/reservation">{{
            'reservation.download.prev' | translate }}</button>
    </div>
</div>