<div class="contents-width mx-auto px-3 py-5">
    <h2 class="text-large mb-4 text-center"><strong>スケジュール選択</strong></h2>
    <p class="mb-4">スケジュールを選択してください</p>
    <div class="mb-3">
        <input type="date" class="form-control rounded-0 py-2 text-large" name="date" [(ngModel)]="scheduleDate"
            (change)="selectDate()">
    </div>
    <p *ngIf="(purchase | async).scheduleDate" class="text-primary text-large mb-3">{{ moment((purchase |
        async).scheduleDate).format('YYYY/MM/DD (ddd)') }}</p>
    <p *ngIf="screeningFilmEvents.length === 0" class="mb-3">スケジュールがありません。</p>
    <app-purchase-schedule-film *ngFor="let screeningFilmEvent of screeningFilmEvents"
        [screeningFilmEvent]="screeningFilmEvent" (select)="selectSchedule($event)" class="mb-3"></app-purchase-schedule-film>
</div>