<div class="p-3">
    <h2 class="bg-secondary text-white p-3 mb-3">上映スケジュール</h2>
    <div class="mb-3">
        <input type="date" class="form-control rounded-0 py-2 large-text" name="date" [(ngModel)]="scheduleDate"
            (change)="selectDate()">
    </div>
    <app-purchase-schedule-film *ngFor="let screeningFilmEvent of (purchase | async).screeningFilmEvents"
        [screeningFilmEvent]="screeningFilmEvent" (select)="selectSchedule($event)" class="mb-3"></app-purchase-schedule-film>
</div>