<div class="bg-white">
    <div class="p-3">
        <div class="mb-2">
            <p class="font-weight-bold text-large">{{ screeningWorkEvent.info.name | changeLanguage }}</p>
            <p
                *ngIf="screeningWorkEvent.info.superEvent.headline && (screeningWorkEvent.info.superEvent.headline | changeLanguage)">
                {{ screeningWorkEvent.info.superEvent.headline | changeLanguage }}</p>
            <p
                *ngIf="screeningWorkEvent.info.superEvent.description && (screeningWorkEvent.info.superEvent.description | changeLanguage)">{{
                    screeningWorkEvent.info.superEvent.description | changeLanguage }}</p>
        </div>
        <div class="d-flex align-items-center">
            <div *ngIf="screeningWorkEvent.info.workPerformed?.contentRating"
                class="text-small bg-dark-gray text-white py-1 px-3 mr-2">{{
                    screeningWorkEvent.info.workPerformed.contentRating }}</div>
            <div *ngIf="screeningWorkEvent.info.superEvent.dubLanguage"
                class="text-small bg-dark-gray text-white py-1 px-3 mr-2">{{ 'common.dubbing' | translate }}</div>
            <div *ngIf="screeningWorkEvent.info.superEvent.subtitleLanguage"
                class="text-small bg-dark-gray text-white py-1 px-3 mr-2">{{ 'common.subtitles' | translate }}</div>
            <div *ngIf="screeningWorkEvent.info.workPerformed?.duration && moment.duration(screeningWorkEvent.info.workPerformed.duration).asMinutes() > 0"
                class="text-small ml-auto">
                <span
                    class="mr-1">{{ 'common.duration' | translate }}</span>{{ moment.duration(screeningWorkEvent.info.workPerformed.duration).asMinutes() }}{{ 'common.date.minute' | translate }}
            </div>
        </div>
    </div>
    <ul class="p-3">
        <li *ngFor="let performance of screeningWorkEvent.data"
            class="border boder-gray rounded p-2 py-md-3 text-md-center d-md-block d-flex justify-content-between align-items-center pointer"
            [ngClass]="{ 
          'bg-white': performance.isOpenDoor() || performance.isScreening(), 
          'bg-dark-gray text-light-gray': !(performance.isOpenDoor() || performance.isScreening())
          }" (click)="select.emit(performance.screeningEvent)">
            <div>
                <div class="mb-2 text-small screen-name">
                    <span *ngIf="performance.screeningEvent.location.address" class="mr-2">
                        {{ performance.screeningEvent.location.address | changeLanguage }}
                    </span>
                    {{ performance.screeningEvent.location.name | changeLanguage }}
                </div>
                <div>
                    <strong
                        class="text-large">{{ moment(performance.screeningEvent.startDate).format('HH:mm') }}</strong>
                    <span>-</span>
                    <span>{{ moment(performance.screeningEvent.endDate).format('HH:mm') }}</span>
                </div>
            </div>
            <hr class="border-0 bg-light-gray my-2">
            <div class="text-center">
                <div *ngIf="performance.isOpenDoor() || performance.isScreening()">
                    <div class="status mb-2" *ngIf="performance.isOpenDoor()">
                        {{ 'admission.schedule.status.opening' | translate }}</div>
                    <div class="status mb-2" *ngIf="performance.isScreening()">
                        {{ 'admission.schedule.status.nowShowing' | translate }}</div>
                </div>

                <div class="status mb-2" *ngIf="performance.isOpenDoor('before')">
                    {{ 'admission.schedule.status.beforeOpening' | translate }}</div>
                <div class="status mb-2" *ngIf="performance.isScreening('after')">
                    {{ 'admission.schedule.status.filmCompletion' | translate }}</div>
                <div *ngIf="!performance.isInfinitetock() && environment.DISPLAY_TICKETED_SEAT" class="mb-2 text-small">
                    {{ 'common.seat' | translate }}
                    {{ performance.screeningEvent.remainingAttendeeCapacity }} /
                    {{ performance.screeningEvent.maximumAttendeeCapacity }}
                </div>
                <div *ngIf="performance.isInfinitetock()" class="mb-2 text-small">
                    {{ 'admission.schedule.infiniteStock' | translate }}</div>
                <div class="text-small mb-1">{{ 'common.ticketing' | translate }}
                    {{ performance.screeningEvent.checkInCount }}</div>
                <div class="text-small">{{ 'common.admission' | translate }}
                    {{ performance.screeningEvent.attendeeCount }}</div>
            </div>
        </li>
    </ul>
</div>