<div class="row mx-0 border boder-gray rounded p-3 py-md-3 text-md-center d-md-block align-items-center pointer h-100"
    [ngClass]="{ 
        'bg-white': performance.isOpenDoor() || performance.isScreening(), 
        'bg-dark-gray text-light-gray': !(performance.isOpenDoor() || performance.isScreening())
        }" (click)="select.emit(performance.screeningEvent)">
    <div class="col-md-12 col-8 px-0">
        <div class="mb-1 text-small screen-name">
            <p *ngIf="performance.screeningEvent.location.address | changeLanguage" class="text-overflow-ellipsis mr-2 d-inline-block d-md-block">
                {{ performance.screeningEvent.location.address | changeLanguage }}</p>
            <p class="text-overflow-ellipsis d-inline-block d-md-block">{{ performance.screeningEvent.location.name | changeLanguage }}</p>
        </div>
        <div>
            <strong class="text-large">{{ moment(performance.screeningEvent.startDate).format('HH:mm') }}</strong>
            <span>-</span>
            <span>{{ moment(performance.screeningEvent.endDate).format('HH:mm') }}</span>
        </div>
    </div>
    <hr class="border-0 bg-light-gray my-2">
    <div class="col-md-12 col-4 px-0 text-center">
        <div *ngIf="performance.isOpenDoor() || performance.isScreening()">
            <div class="status mb-2" *ngIf="performance.isOpenDoor()">
                {{ 'admission.schedule.status.opening' | translate }}</div>
            <div class="status mb-2" *ngIf="performance.isScreening()">
                {{ 'admission.schedule.status.nowShowing' | translate }}</div>
        </div>

        <div class="status mb-2" *ngIf="performance.isOpenDoor('before')">
            {{ 'admission.schedule.status.beforeOpening' | translate }}</div>
        <div class="status mb-2" *ngIf="performance.isScreening('after')">
            {{ 'admission.schedule.status.filmCompletion' | translate }}</div>
        <div *ngIf="!performance.isInfinitetock()" class="mb-2 text-small">
            {{ 'common.seat' | translate }}
            {{ performance.screeningEvent.remainingAttendeeCapacity }} /
            {{ performance.screeningEvent.maximumAttendeeCapacity }}
        </div>
        <div *ngIf="performance.isInfinitetock()" class="mb-2 text-small">
            {{ 'admission.schedule.infiniteStock' | translate }}</div>
        <div class="text-small mb-1">{{ 'common.ticketing' | translate }}
            {{ performance.screeningEvent.checkInCount }}</div>
        <div class="text-small">{{ 'common.admission' | translate }}
            {{ performance.screeningEvent.attendeeCount }}</div>
    </div>
</div>