<div class="contents-width mx-auto px-3 py-5">

    <div class="mb-4">
        <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'purchase.confirm.title' | translate }}</h2>
        <p class="mb-4 text-md-center" [innerHTML]="'purchase.confirm.read' | translate"></p>

        <div *ngFor="let authorizeSeatReservation of (purchase | async)?.authorizeSeatReservations"
            class="mb-4">
            <app-item-event [screeningEvent]="authorizeSeatReservation.object.event"></app-item-event>
            <div class="bg-white p-3">
                <app-item-list
                    [authorizeSeatReservations]="authorizeSeatReservation?.result?.responseBody.object.reservations">
                </app-item-list>
            </div>
        </div>

        <div class="mb-4 px-3 bg-white"
            *ngIf="(purchase | async)?.paymentMethod && (purchase | async)?.paymentMethod.typeOf === paymentMethodType.Cash">
            <div class="py-3 border-bottom border-gray">
                <div class="row align-items-center">
                    <p class="mb-2 mb-md-0 col-md-4">
                        <i class="fas fa-arrow-right mr-2"></i>{{ 'purchase.confirm.custody' | translate }}</p>
                    <p class="col-md-8 d-flex align-items-center position-static">
                        <span class="mr-2">￥</span>
                        <app-numeric-keypad inputType="number" [inputValue]="depositAmount" viewPosition="Top"
                            [maxlength]="10" (change)="changeDepositAmount($event)"
                            (hidden)="depositAmount = ($event.length > 0) ? $event : 0">
                            <input type="number" class="form-control text-large py-2 h-auto" id="depositAmount"
                                [(ngModel)]="depositAmount" readonly>
                        </app-numeric-keypad>
                    </p>
                </div>
            </div>
            <div class="py-3">
                <div class="row align-items-center">
                    <p class="mb-2 mb-md-0 col-md-4">
                        <i class="fas fa-arrow-left mr-2"></i>{{ 'purchase.confirm.change' | translate }}</p>
                    <p class="col-md-8" [ngClass]="{'font-weight-bold text-danger': (depositAmount - amount) < 0}">{{ (depositAmount - amount) | currency : 'JPY' }}</p>
                </div>
            </div>
        </div>

        <div class="bg-white px-3 mb-4">
            <div class="overflow-hidden">
                <div class="py-3 row align-items-center border-bottom border-gray">
                    <p class="mb-2 mb-md-0 col-md-4">{{ 'common.paymentMethod' | translate }}</p>
                    <p class="col-md-8">
                        <span
                            *ngIf="(purchase | async)?.paymentMethod.typeOf === paymentMethodType.Cash">{{ 'common.paymentMethodType.cash' | translate }}</span>
                        <span
                            *ngIf="(purchase | async)?.paymentMethod.typeOf === paymentMethodType.Account">{{ 'common.paymentMethodType.account' | translate }}</span>
                        <span
                            *ngIf="(purchase | async)?.paymentMethod.typeOf === paymentMethodType.CreditCard">{{ 'common.paymentMethodType.creditCard' | translate }}</span>
                        <span
                            *ngIf="(purchase | async)?.paymentMethod.typeOf === paymentMethodType.EMoney">{{ 'common.paymentMethodType.eMoney' | translate }}</span>
                        <span
                            *ngIf="(purchase | async)?.paymentMethod.typeOf === paymentMethodType.MovieTicket">{{ 'common.paymentMethodType.movieTicket' | translate }}</span>
                        <span
                            *ngIf="(purchase | async)?.paymentMethod.typeOf === paymentMethodType.Others 
                                && !(purchase | async)?.paymentMethod.category">{{ 'common.paymentMethodType.others' | translate }}</span>
                        <span
                            *ngIf="(purchase | async)?.paymentMethod.typeOf === paymentMethodType.Others 
                                && (purchase | async)?.paymentMethod.category === 'RegiGrow'">{{ 'common.paymentMethodType.regiGrow' | translate }}</span>
                        <span
                            *ngIf="(purchase | async)?.paymentMethod.typeOf === paymentMethodType.Others 
                                && (purchase | async)?.paymentMethod.category !== 'RegiGrow' 
                                && (purchase | async)?.paymentMethod.category">{{ getCustomPaymentMethodTypeName((purchase | async)?.paymentMethod) | changeLanguage }}</span>
                    </p>
                </div>
            </div>
            <div class="overflow-hidden">
                <div class="py-3 row align-items-center">
                    <p class="mb-2 mb-md-0 col-md-4">{{ 'common.amount' | translate }}</p>
                    <p class="col-md-8 font-weight-bold text-large text-info">{{ amount | currency : 'JPY' }}</p>
                </div>
            </div>
        </div>

        <div *ngIf="environment.PURCHASE_WARNING">
            <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'purchase.confirm.warning' | translate }}</h2>
            <div class="mb-4">
                <app-purchase-warning [language]="(user | async)?.language"
                    [screeningEvent]="(purchase | async)?.screeningEvent"></app-purchase-warning>
            </div>
        </div>

        <div class="buttons mx-auto text-center">
            <button *ngIf="!environment.PURCHASE_WARNING" type="submit" class="btn btn-primary btn-block py-3 mb-3" [disabled]="isLoading | async"
                (click)="onSubmit()">{{ 'purchase.confirm.next' | translate }}</button>
            <button *ngIf="environment.PURCHASE_WARNING" type="submit" class="btn btn-primary btn-block py-3 mb-3" [disabled]="isLoading | async"
                (click)="onSubmit()">{{ 'purchase.confirm.consent' | translate }}</button>
            <button *ngIf="amount > 0" type="button" class="btn btn-outline-primary btn-block py-3"
                routerLink="/purchase/payment">{{ 'purchase.confirm.prev' | translate }}</button>
            <div *ngIf="amount === 0 && environment.VIEW_TYPE === viewType.Cinema">
                <button type="button" class="btn btn-outline-primary btn-block py-3"
                    routerLink="/purchase/cinema/ticket">{{ 'purchase.confirm.prev' | translate }}</button>
            </div>
            <div *ngIf="amount === 0 && environment.VIEW_TYPE === viewType.Event">
                <button type="button" class="btn btn-outline-primary btn-block py-3"
                    routerLink="/purchase/event/ticket">{{ 'purchase.confirm.prev' | translate }}</button>
            </div>
        </div>
    </div>