<div class="contents-width mx-auto px-3 py-5">

    <div class="mb-4">
        <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'purchase.confirm.title' | translate }}</h2>
        <p class="mb-4 text-md-center" [innerHTML]="'purchase.confirm.read' | translate"></p>

        <div *ngFor="let authorizeSeatReservation of (purchase | async)?.authorizeSeatReservations" class="mb-4">
            <app-item-event [screeningEvent]="authorizeSeatReservation.object.event"></app-item-event>
            <div class="bg-white p-3">
                <app-item-list
                    [authorizeSeatReservations]="authorizeSeatReservation?.result?.responseBody.object.reservations">
                </app-item-list>
            </div>
        </div>

        <div class="mb-4 p-3 bg-white">
            <div [class.mb-3]="(purchase | async)?.profile" class="d-flex align-items-center">
                <p class="mr-3">{{ 'purchase.confirm.profile' | translate }}</p>
                <button routerLink="/purchase/input" type="button" class="btn btn-primary">
                    {{ 'common.edit' | translate }}
                </button>
            </div>
            <app-item-profile *ngIf="(purchase | async)?.profile" [profile]="(purchase | async)?.profile">
            </app-item-profile>
        </div>

        <div class="bg-white mb-4 py-3">
            <div class="container mb-3">
                <div class="row align-items-center">
                    <p class="mb-2 mb-md-0 col-md-4">{{ 'common.amount' | translate }}</p>
                    <p class="col-md-8 font-weight-bold text-large text-info">{{ amount | currency : 'JPY' }}</p>
                </div>
            </div>
            <app-payment-select [payments]="payments" [amount]="amount" (change)="changeValue($event)">
            </app-payment-select>
        </div>

        <div *ngIf="environment.PURCHASE_WARNING">
            <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'purchase.confirm.warning' | translate }}</h2>
            <div class="mb-4">
                <app-purchase-warning [language]="(user | async)?.language"
                    [screeningEvent]="(purchase | async)?.screeningEvent"></app-purchase-warning>
            </div>
        </div>

        <div class="buttons mx-auto text-center">
            <button *ngIf="!environment.PURCHASE_WARNING" type="submit" class="btn btn-primary btn-block py-3 mb-3"
                [disabled]="(isLoading | async) || isValid" (click)="onSubmit()">{{ 'purchase.confirm.next' | translate
                }}</button>
            <button *ngIf="environment.PURCHASE_WARNING" type="submit" class="btn btn-primary btn-block py-3 mb-3"
                [disabled]="(isLoading | async) || isValid" (click)="onSubmit()">{{ 'purchase.confirm.consent' |
                translate
                }}</button>
            <ng-container
                *ngIf="(purchase | async)?.customer === undefined && environment.VIEW_TYPE === viewType.Cinema">
                <button type="button" class="btn btn-outline-primary btn-block py-3"
                    routerLink="/purchase/cinema/ticket">{{
                    'purchase.confirm.prev' | translate }}</button>
            </ng-container>
            <ng-container
                *ngIf="(purchase | async)?.customer === undefined && environment.VIEW_TYPE === viewType.Event">
                <button type="button" class="btn btn-outline-primary btn-block py-3"
                    routerLink="/purchase/event/schedule">{{ 'purchase.confirm.prev' | translate }}</button>
            </ng-container>
            <ng-container *ngIf="(purchase | async)?.customer !== undefined">
                <button type="button" class="btn btn-outline-primary btn-block py-3" routerLink="/purchase/input">{{
                    'purchase.confirm.prev' | translate }}</button>
            </ng-container>
        </div>
    </div>