<div class="contents-width mx-auto px-3 py-5">
        <h2 class="text-large mb-4 text-center"><strong>購入履歴</strong></h2>
    
        <ul class="d-grid items">
            <li *ngFor="let order of (inquiry | async).orders" class="item p-3 bg-light-gray">
                <div class="mb-3">
                    <p class="mb-2 d-flex align-items-center"><i class="fas fa-key mr-2"></i>購入番号 <strong class="text-info text-large">{{
                            order.confirmationNumber }}</strong></p>
                    <p class="mb-2 d-flex align-items-center"><i class="fas fa-film mr-2"></i>{{
                        order.acceptedOffers[0].itemOffered.reservationFor.name.ja }}</p>
                    <p class="mb-2 d-flex align-items-center"><i class="fas fa-map-marker-alt mr-2"></i>{{
                        order.acceptedOffers[0].itemOffered.reservationFor.superEvent.location.name.ja }} / {{
                        order.acceptedOffers[0].itemOffered.reservationFor.location.name.ja }}</p>
                    <p class="mb-2 d-flex align-items-center"><i class="far fa-clock mr-2"></i>{{
                        moment(order.acceptedOffers[0].itemOffered.reservationFor.startDate).format('YYYY/MM/DD
                        (ddd)
                        HH:mm') }}</p>
                    <ul>
                        <li *ngFor="let acceptedOffer of order.acceptedOffers">
                            <p class="mb-2 d-flex align-items-center">
                                <i class="fas fa-ticket-alt mr-2"></i>
                                {{ acceptedOffer.itemOffered.reservedTicket.ticketedSeat.seatNumber }} /
                                {{ acceptedOffer.itemOffered.reservedTicket.ticketType.name.ja }} /
                                {{ getTicketPrice(acceptedOffer).single | currency : 'JPY' }}
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="text-center"><button type="button" class="btn btn-primary btn-block" (click)="showQrCode(order)">QRコード表示</button></div>
            </li>
        </ul>
    </div>