<div class="contents-width mx-auto px-3 py-5">
    <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'development.screen.title' | translate }}</h2>
    <p class="mb-4 text-md-center" [innerHTML]="'development.screen.read' | translate"></p>
    <form>
        <div class="mb-4 bg-white p-3">
            <div class="form-group">
                <div class="row align-items-center">
                    <p class="col-md-4 py-2 text-md-right">{{ 'common.theater' | translate }}</p>
                    <div class="col-md-8">
                        <select class="form-control" [(ngModel)]="theaterCode" name="theaterCode"
                            (change)="changeTheater()">
                            <option *ngFor="let theater of theaters" [value]="theater.branchCode">
                                {{ theater.name | changeLanguage }} [{{ theater.branchCode }}]
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row align-items-center">
                    <p class="col-md-4 py-2 text-md-right">{{ 'common.screen' | translate }}</p>
                    <div class="col-md-8">
                        <select class="form-control" [(ngModel)]="screenCode" name="screenCode">
                            <option *ngFor="let screen of screens" [value]="screen.branchCode">
                                {{ screen.name | changeLanguage }} [{{ screen.branchCode }}]
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="buttons mx-auto text-center">
                <button type="submit" [disabled]="isLoading | async" class="btn btn-primary btn-block py-3"
                    (click)="update()">{{ 'development.screen.next' | translate }}</button>
            </div>
        </div>
    </form>
    <app-screen *ngIf="screenCode && theaterCode" class="mb-4" [theaterCode]="theaterCode" [screenCode]="screenCode"
        [screeningEventSeats]="[]" [openSeatingAllowed]="false" [reservations]="[]">
    </app-screen>

    <div class="buttons mx-auto text-center">
        <button type="button" class="btn btn-outline-primary btn-block py-3"
            routerLink="/development">{{ 'development.screen.prev' | translate }}</button>
    </div>

</div>