<table class="table table-bordered bg-white text-small mb-0 border border-gray">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col" style="min-width: 160px">{{ 'common.orderDate' | translate }}</th>
            <th scope="col" style="min-width: 80px">{{ 'common.confirmationNumber' | translate }}</th>
            <th scope="col">{{ 'common.reservation' | translate }}</th>
            <th scope="col">{{ 'common.customer' | translate }}</th>
            <th scope="col" style="min-width: 240px"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders let index = index" [class.bg-light-gray]="index % 2 === 0">
            <td class="align-middle text-large text-center">
                <div *ngIf="order.orderStatus === orderStatus.OrderDelivered">
                    <i *ngIf="!isSelected(order)" class="bi bi-square pointer" (click)="select.emit(order)"></i>
                    <i *ngIf="isSelected(order)" class="bi bi-check-square pointer" (click)="select.emit(order)"></i>
                </div>
                <div *ngIf="order.orderStatus !== orderStatus.OrderDelivered">
                    <i class="bi bi-square opacity-0"></i>
                </div>
            </td>
            <td class="align-middle">
                <p>{{ order.orderDate | formatDate: 'YYYY/MM/DD (ddd) HH:mm' }}</p>
            </td>
            <td class="align-middle">{{ order.confirmationNumber }}</td>
            <td class="align-middle">
                <ng-container *ngIf="order2EventOrders({ order: order }).length > 0">
                    <div *ngFor="let eventOrder of order2EventOrders({ order: order })">
                        <p style="width: 280px">
                            {{ eventOrder.event.name | changeLanguage }}
                        </p>
                        <p class="screen-name">
                            <span *ngIf="eventOrder.event.location.address | changeLanguage" class="mr-2">
                                {{ eventOrder.event.location.address | changeLanguage }}
                            </span>
                            {{ eventOrder.event.location.name | changeLanguage }}
                        </p>
                        <p>
                            {{ eventOrder.event.startDate | formatDate: 'YYYY/MM/DD (ddd) HH:mm' }} -
                        </p>
                    </div>
                </ng-container>
                <ng-container *ngIf="order2EventOrders({ order: order }).length === 0">
                    <div *ngFor="let offer of order.acceptedOffers">
                        <p style="width: 280px">
                            {{ offer.name | changeLanguage }}
                        </p>
                    </div>
                </ng-container>
            </td>
            <td class="align-middle">
                <p>{{ order.customer.familyName }} {{ order.customer.givenName }}</p>
            </td>
            <td class="align-middle text-center">
                <button class="btn btn-primary mr-2" (click)="detail.emit(order)"><i class="bi bi-zoom-in"></i></button>
                <button *ngIf="environment.ORDER_PRINT"
                    [disabled]="(user | async)?.printer.connectionType === connectionType.None || order.orderStatus !== orderStatus.OrderDelivered"
                    class="btn btn-primary mr-2" (click)="print.emit([order])"><i class="bi bi-printer"></i></button>
                <button *ngIf="environment.PRINT_RECEIPT"
                    [disabled]="(user | async)?.printer.connectionType === connectionType.None || order.orderStatus !== orderStatus.OrderDelivered"
                    class="btn btn-primary mr-2" (click)="receipt.emit([order])"><i class="bi bi-receipt"></i></button>
                <button *ngIf="environment.ORDER_CANCEL" [disabled]="order.orderStatus !== orderStatus.OrderDelivered"
                    class="btn btn-primary" (click)="return.emit([order])"><i class="bi bi-reply"></i></button>
            </td>
        </tr>
    </tbody>
</table>