<table class="table table-bordered bg-white text-small mb-0 border border-gray">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">{{ 'common.orderDate' | translate }}</th>
            <th scope="col">{{ 'common.confirmationNumber' | translate }}</th>
            <th scope="col">{{ 'common.event' | translate }}</th>
            <th scope="col">{{ 'common.customer' | translate }}</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders let index = index" [class.bg-light-gray]="index % 2 === 0">
            <td class="align-middle text-large text-center">
                <div *ngIf="order.orderStatus === orderStatus.OrderDelivered">
                    <i *ngIf="!isSelected(order)" class="far fa-square pointer"
                        (click)="select.emit(order)"></i>
                    <i *ngIf="isSelected(order)" class="far fa-check-square pointer"
                        (click)="select.emit(order)"></i>
                </div>
                <div *ngIf="order.orderStatus !== orderStatus.OrderDelivered">
                    <i class="far fa-square opacity-0"></i>
                </div>
            </td>
            <td class="align-middle">
                <p>{{ order.orderDate | formatDate: 'YYYY/MM/DD (ddd) HH:mm' }}</p>
            </td>
            <td class="align-middle">{{ order.confirmationNumber }}</td>
            <td class="align-middle">
                <div *ngFor="let eventOrder of order2EventOrders({ order: order })">
                    <p style="width: 280px">
                        {{ eventOrder.event.name | changeLanguage }}
                    </p>
                    <p>
                        <span
                            class="theater-name">{{ eventOrder.event.superEvent.location.name | changeLanguage }}</span>
                        <span class="screen-name">&nbsp;/&nbsp;<span
                                *ngIf="eventOrder.event.location.address | changeLanguage"
                                class="mr-2">{{ eventOrder.event.location.address | changeLanguage }}</span>{{ eventOrder.event.location.name | changeLanguage }}</span>
                    </p>
                    <p>{{ eventOrder.event.startDate | formatDate: 'YYYY/MM/DD (ddd) HH:mm' }}
                        -</p>
                </div>
            </td>
            <td class="align-middle">{{ order.customer.familyName }} {{ order.customer.givenName }}</td>
            <td class="align-middle text-center">
                <button class="btn btn-primary mr-2" (click)="detail.emit(order)"><i
                        class="fas fa-search-plus"></i></button>
                <button *ngIf="environment.ORDER_PRINT"
                    [disabled]="(user | async)?.printer.connectionType === connectionType.None || order.orderStatus !== orderStatus.OrderDelivered"
                    class="btn btn-primary mr-2" (click)="print.emit([order])"><i
                        class="fas fa-print"></i></button>
                <button *ngIf="environment.PRINT_RECEIPT"
                    [disabled]="(user | async)?.printer.connectionType === connectionType.None || order.orderStatus !== orderStatus.OrderDelivered"
                    class="btn btn-primary mr-2" (click)="receipt.emit([order])"><i
                        class="fas fa-receipt"></i></button>
                <button *ngIf="environment.ORDER_CANCEL"
                    [disabled]="order.orderStatus !== orderStatus.OrderDelivered" class="btn btn-primary"
                    (click)="return.emit([order])"><i class="fas fa-reply"></i></button>
            </td>
        </tr>
    </tbody>
</table>