<div class="contents-width mx-auto px-3 py-5">
    <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'reservation.search.title' | translate }}</h2>
    <p class="mb-4 text-md-center" [innerHTML]="'reservation.search.read' | translate"></p>
    <div class="conditions p-3 bg-white mb-4">
        <form (submit)="reservationSearch(true)">
            <div class="form-row">
                <div class="form-group col-md-4 col-lg-3">
                    <label for="reservationDateFrom"
                        class="mb-2">{{ 'reservation.search.conditions.reservationDateFrom' | translate }}</label>
                    <input type="text" name="reservationDateFrom" id="reservationDateFrom" placeholder="YYYY/MM/DD"
                        class="form-control" #reservationDateFrom="bsDatepicker" bsDatepicker
                        [(ngModel)]="conditions.reservationDateFrom"
                        [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD', adaptivePosition: true, showWeekNumbers: false }"
                        readonly (onShown)="onShowPicker($event)" (click)="setDatePicker()">
                </div>
                <div class="form-group col-md-4 col-lg-3">
                    <label for="reservationDateThrough"
                        class="mb-2">{{ 'reservation.search.conditions.reservationDateThrough' | translate }}</label>
                    <input type="text" name="reservationDateThrough" id="reservationDateThrough"
                        placeholder="YYYY/MM/DD" class="form-control" #reservationDateThrough="bsDatepicker" bsDatepicker
                        [(ngModel)]="conditions.reservationDateThrough"
                        [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD', adaptivePosition: true, showWeekNumbers: false }"
                        readonly (onShown)="onShowPicker($event)" (click)="setDatePicker()">
                </div>
                <div class="form-group col-md-4 col-lg-3">
                    <label for="confirmationNumber" class="mb-2">{{ 'common.reservationId' | translate }}</label>
                    <input type="text" class="form-control" name="id" id="id" [(ngModel)]="conditions.id"
                        placeholder="{{ 'common.reservationId' | translate }}">
                </div>
                <div class="form-group col-md-4 col-lg-3">
                    <label for="reservationNumber" class="mb-2">{{ 'common.reservationNumber' | translate }}</label>
                    <input type="text" class="form-control" name="reservationNumber" id="reservationNumber"
                        [(ngModel)]="conditions.reservationNumber"
                        placeholder="{{ 'common.reservationNumber' | translate }}">
                </div>
            
                <div class="form-group col-md-4 col-lg-3">
                    <label for="reservationStatus" class="mb-2">{{ 'common.reservationStatus' | translate }}</label>
                    <select class="form-control" name="reservationStatus" id="reservationStatus"
                        [(ngModel)]="conditions.reservationStatus">
                        <option value="">{{ 'common.all' | translate }}</option>
                        <option [value]="reservationStatus.ReservationConfirmed">
                            {{ 'reservation.search.reservationStatus.ReservationConfirmed' | translate }}</option>
                        <option [value]="reservationStatus.ReservationHold">
                            {{ 'reservation.search.reservationStatus.ReservationHold' | translate }}</option>
                        <option [value]="reservationStatus.ReservationPending">
                            {{ 'reservation.search.reservationStatus.ReservationPending' | translate }}</option>
                    </select>
                </div>
                <div class="form-group col-md-4 col-lg-3">
                    <label for="eventStartDateFrom"
                        class="mb-2">{{ 'reservation.search.conditions.eventStartDateFrom' | translate }}</label>
                    <input type="text" name="eventStartDateFrom" id="eventStartDateFrom" placeholder="YYYY/MM/DD"
                        class="form-control" #eventStartDateFrom="bsDatepicker" bsDatepicker
                        [(ngModel)]="conditions.eventStartDateFrom"
                        [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD', adaptivePosition: true, showWeekNumbers: false }"
                        readonly (onShown)="onShowPicker($event)" (click)="setDatePicker()">
                </div>
                <div class="form-group col-md-4 col-lg-3">
                    <label for="eventStartDateThrough"
                        class="mb-2">{{ 'reservation.search.conditions.eventStartDateThrough' | translate }}</label>
                    <input type="text" name="eventStartDateThrough" id="eventStartDateThrough" placeholder="YYYY/MM/DD"
                        class="form-control" #eventStartDateThrough="bsDatepicker" bsDatepicker
                        [(ngModel)]="conditions.eventStartDateThrough"
                        [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD', adaptivePosition: true, showWeekNumbers: false }"
                        readonly (onShown)="onShowPicker($event)" (click)="setDatePicker()">
                </div>
            </div>
            <div class="buttons mx-auto text-center">
                <button type="submit" class="btn btn-primary btn-block py-3 mb-3"
                    [disabled]="isLoading | async">{{ 'reservation.search.search' | translate }}</button>
                <button type="button" class="btn btn-outline-primary btn-block py-3"
                    (click)="searchConditionClear()">{{ 'reservation.search.clear' | translate }}</button>
            </div>
        </form>
    </div>
    <p *ngIf="reservations.length === 0">{{ 'reservation.search.notfound' | translate }}</p>

    <div *ngIf="reservations.length > 0">
        <div class="d-md-flex align-items-center justify-content-end mb-4">
            <div class="text-md-right text-center mb-3 mb-md-0 order-2">
                <div class="d-inline-block">
                    <pagination [(ngModel)]="currentPage" [totalItems]="totalCount" [itemsPerPage]="limit"
                        [maxSize]="maxSize" [boundaryLinks]="false" previousText="&lsaquo;" nextText="&rsaquo;"
                        firstText="&laquo;" lastText="&raquo;" (pageChanged)="reservationSearch(false, $event)"></pagination>
                </div>
            </div>
        </div>

        <div class="scroll-horizontal">
            <table class="table bg-white text-small mb-0 border border-gray">
                <thead>
                    <tr>
                        <th scope="col">{{ 'common.reservationNumber' | translate }}</th>
                        <th scope="col">{{ 'common.reservationId' | translate }}</th>
                        <th scope="col">{{ 'common.event' | translate }}</th>
                        <th scope="col">{{ 'common.ticket' | translate }}</th>
                        <!-- <th scope="col">決済方法</th> -->
                        <!-- <th scope="col">注文ステータス</th> -->
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let reservation of reservations let index = index"
                        [class.bg-light-gray]="index % 2 === 0">
                        <td class="align-middle">{{ reservation.reservationNumber }}</td>
                        <td class="align-middle">{{ reservation.id }}</td>

                        <td class="align-middle">
                            <p *ngIf="(reservation.reservationFor.name | changeLanguage).length > 0">{{
                                reservation.reservationFor.name | changeLanguage | slice:0:10 }}</p>
                            <p *ngIf="!((reservation.reservationFor.name | changeLanguage).length > 0)">{{
                                reservation.reservationFor.name | changeLanguage }}</p>
                            <p>
                                <span class="theater-name">{{ reservation.reservationFor.superEvent.location.name | changeLanguage }}</span>
                                <span class="screen-name">&nbsp;/&nbsp;<span *ngIf="reservation.reservationFor.location.address" class="mr-2">{{ reservation.reservationFor.location.address | changeLanguage }}</span>{{ reservation.reservationFor.location.name | changeLanguage }}</span>
                            </p>
                            <p>{{ reservation.reservationFor.startDate | formatDate: 'YYYY/MM/DD (ddd) HH:mm' }}
                                -</p>
                        </td>
                        <td class="align-middle">
                            <app-item-list [authorizeSeatReservations]="[reservation]"></app-item-list>
                        </td>
                        <!-- <td class="align-middle">
                          <div *ngFor="let paymentMethod of reservation.paymentMethods">
                              <p>{{ paymentMethod.name }}</p>
                          </div>
                      </td> -->
                        <!-- <td class="align-middle">
                          {{ reservation.reservationStatus }}
                      </td> -->
                        <td class="align-middle">
                            <button class="btn btn-primary mr-2" (onShown)="onShowPicker($event)"
                                (click)="openDetail(reservation)"><i class="fas fa-search-plus"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
    <div class="buttons mx-auto text-center">
        <button type="button" class="btn btn-link"
            routerLink="/reservation">{{ 'reservation.search.prev' | translate }}</button>
    </div>
</div>