<div class="contents-width mx-auto px-3 py-5">
    <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'order.search.title' | translate }}</h2>
    <p class="mb-4 text-md-center" [innerHTML]="'order.search.read' | translate"></p>
    <div class="conditions p-3 bg-white mb-4">
        <app-order-condition [name]="'order.search.search' | translate" (changeConditions)=changeConditions($event)>
        </app-order-condition>
    </div>
    <p class="mb-4" *ngIf="orders.length === 0">{{ 'order.search.notfound' | translate }}</p>

    <div class="mb-4" *ngIf="orders.length > 0">
        <div class="d-md-flex align-items-center justify-content-between mb-4">
            <div class="text-md-right text-center mb-3 mb-md-0 order-2">
                <div class="d-inline-block">
                    <pagination [(ngModel)]="currentPage" [totalItems]="totalCount" [itemsPerPage]="limit"
                        [maxSize]="maxSize" [boundaryLinks]="false" previousText="&lsaquo;" nextText="&rsaquo;"
                        firstText="&laquo;" lastText="&raquo;" (pageChanged)="changePage($event)"></pagination>
                </div>
            </div>

            <div class="form-group text-center text-md-left mb-3 mb-md-0 order-1">
                <select class="form-control d-inline-block w-auto mr-2" name="actionSelect" id="actionSelect"
                    [(ngModel)]="actionSelect">
                    <option value="">{{ 'order.search.unselected' | translate }}</option>
                    <option [value]="OrderActions.Cancel">{{ 'order.search.cancel' | translate }}</option>
                    <option [value]="OrderActions.Print">{{ 'order.search.print' | translate }}</option>
                </select>
                <button id="selectedActionButton" type="button" class="btn btn-primary py-2 px-4"
                    (click)="selectedAction()">{{ 'order.search.apply' | translate }}</button>
            </div>
        </div>

        <div class="scroll-horizontal">
            <app-order-table [orders]="orders" [selectedOrders]="selectedOrders" (detail)="openDetail($event)"
                (select)="toggleOrder($event)" (print)="printConfirm($event)" (receipt)="printReceiptConfirm($event)"
                (return)="cancelConfirm($event)">
            </app-order-table>
        </div>
    </div>
    <div class="buttons mx-auto text-center">
        <button type="button" class="btn btn-outline-primary btn-block py-3" routerLink="/order">{{ 'order.search.prev'
            | translate }}</button>
    </div>
</div>