<div class="contents-width mx-auto px-3 py-5">
        <div class="mb-4">
                <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'purchase.complete.title' | translate }}</h2>
                <p class="mb-4">{{ 'purchase.complete.read' | translate }}</p>
        
                <div class="mb-4 px-3 bg-light-gray">
                    <div class="py-3">
                        <div class="row align-items-center">
                            <p class="mb-2 mb-md-0 col-md-4">
                                <i class="fas fa-key mr-2"></i>{{ 'common.confirmationNumber' | translate }}</p>
                            <p class="col-md-8 text-x-large text-info">
                                <strong>{{ (purchase | async).order.confirmationNumber }}</strong>
                            </p>
                        </div>
                    </div>
                </div>
                <div *ngFor="let eventOrder of eventOrders" class="mb-4 px-3 bg-light-gray">
                    <div class="py-3 border-bottom border-gray">
                        <div class="row">
                            <p class="mb-2 mb-md-0 col-md-4">
                                <i class="fas fa-map-marker-alt mr-2"></i>{{ 'common.theater' | translate }} / {{ 'common.screen' | translate }}</p>
                            <p class="col-md-8">{{ eventOrder.event.superEvent.location.name | changeLanguage }} / {{
                                eventOrder.event.location.name | changeLanguage }}</p>
                        </div>
                    </div>
                    <div class="py-3 border-bottom border-gray">
                        <div class="row">
                            <p class="mb-2 mb-md-0 col-md-4">
                                <i class="fas fa-film mr-2"></i>{{ 'common.event' | translate }}</p>
                            <p class="col-md-8">{{ eventOrder.event.name | changeLanguage }}</p>
                        </div>
                    </div>
                    <div class="py-3 border-bottom border-gray">
                        <div class="row">
                            <p class="mb-2 mb-md-0 col-md-4">
                                <i class="far fa-clock mr-2"></i>{{ 'common.startDate' | translate }}</p>
                            <p class="col-md-8">{{ eventOrder.event.startDate | formatDate: 'YYYY/MM/DD (ddd) HH:mm' }}</p>
                        </div>
                    </div>
                    <div class="py-3">
                        <div class="row">
                            <p class="mb-2 mb-md-0 col-md-4">
                                <i class="fas fa-ticket-alt mr-2"></i><span *ngIf="eventOrder.data[0].itemOffered.reservedTicket.ticketedSeat">{{ 'common.seat' | translate }} / </span>{{ 'common.ticket' | translate }}</p>
                            <div class="col-md-8">
                                <div *ngFor="let acceptedOffer of eventOrder.data" class="mb-2">
                                    <p *ngIf="acceptedOffer.itemOffered.reservedTicket.ticketedSeat">{{ acceptedOffer.itemOffered.reservedTicket.ticketedSeat.seatNumber }}</p>
                                    <p>{{ acceptedOffer.itemOffered.reservedTicket.ticketType.name | changeLanguage }} / {{
                                        getTicketPrice(acceptedOffer).single | currency : 'JPY' }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="mb-4 px-3 bg-light-gray">
                    <div class="py-3 border-bottom border-gray">
                        <div class="row">
                            <p class="mb-2 mb-md-0 col-md-4">
                                <i class="fas fa-user-circle mr-2"></i>{{ 'common.customerName' | translate }}</p>
                            <p class="col-md-8">{{ (purchase | async).order.customer.familyName }} {{ (purchase |
                                async).order.customer.givenName }}</p>
                        </div>
                    </div>
                    <div class="py-3 border-bottom border-gray">
                        <div class="row">
                            <p class="mb-2 mb-md-0 col-md-4">
                                <i class="far fa-envelope mr-2"></i>{{ 'common.email' | translate }}</p>
                            <p class="col-md-8">{{ (purchase | async).order.customer.email }}</p>
                        </div>
                    </div>
                    <div class="py-3">
                        <div class="row">
                            <p class="mb-2 mb-md-0 col-md-4">
                                <i class="fas fa-phone mr-2"></i>{{ 'common.telephone' | translate }}</p>
                            <p class="col-md-8">{{ (purchase | async).order.customer.telephone | libphonenumberFormat }}</p>
                        </div>
                    </div>
                    <!-- <div class="py-3" *ngIf="(purchase | async).order.price > 0">
                        <div class="row">
                            <p class="mb-2 mb-md-0 col-md-4">
                                <i class="far fa-credit-card mr-2"></i>{{ 'common.paymentMethod' | translate }}</p>
                            <p class="col-md-8">クレジットカード</p>
                        </div>
                    </div> -->
                </div>
            </div>

    <div class="buttons mx-auto">
        <button type="button" class="btn btn-primary btn-block py-3 mb-3" [disabled]="isLoading | async" (click)="print()">{{ 'purchase.complete.next' | translate }}</button>
        <button type="button" class="btn btn-outline-primary btn-block py-3" routerLink="/purchase/root">{{ 'purchase.complete.prev' | translate }}</button>
    </div>

</div>