@import '../../../../../assets/scss/theme';

.item {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr 1fr 1fr;
    border: 1px solid;
    border-top: none;
    @include media-breakpoint-down(sm) {
        display: block;
        border: 1px solid;
    }
    &.header {
        @include media-breakpoint-down(sm) {
            display: none;
        } 
    }
}
