<div class="contents-width mx-auto px-3 py-5">
    <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'order.download.title' | translate }}</h2>
    <p class="mb-4 text-md-center" [innerHTML]="'order.download.read' | translate"></p>
    <div class="conditions p-3 bg-white mb-4">
        <form (submit)="orderDownload(true)">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="orderDateFrom"
                        class="mb-2">{{ 'order.download.conditions.orderDateFrom' | translate }}</label>
                    <input type="text" name="orderDateFrom" id="orderDateFrom" placeholder="YYYY/MM/DD"
                        class="form-control" #orderDateFrom="bsDatepicker" bsDatepicker
                        [(ngModel)]="conditions.orderDateFrom"
                        [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD', adaptivePosition: true, showWeekNumbers: false }"
                        readonly (onShown)="onShowPicker($event)" (click)="setDatePicker()">
                    <!-- <input type="date" class="form-control" name="orderDateFrom" id="orderDateFrom"
                        [(ngModel)]="conditions.orderDateFrom" placeholder="{{ moment().format('YYYY-MM-DD') }}"> -->
                </div>
                <div class="form-group col-md-3">
                    <label for="orderDateThrough"
                        class="mb-2">{{ 'order.download.conditions.orderDateThrough' | translate }}</label>
                    <input type="text" name="orderDateThrough" id="orderDateThrough" placeholder="YYYY/MM/DD"
                        class="form-control" #orderDateThrough="bsDatepicker" bsDatepicker
                        [(ngModel)]="conditions.orderDateThrough"
                        [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD', adaptivePosition: true, showWeekNumbers: false }"
                        readonly (onShown)="onShowPicker($event)" (click)="setDatePicker()">
                    <!-- <input type="date" class="form-control" name="orderDateThrough" id="orderDateThrough"
                        [(ngModel)]="conditions.orderDateThrough" placeholder="{{ moment().format('YYYY-MM-DD') }}"> -->
                </div>
                <div class="form-group col-md-3">
                    <label for="confirmationNumber" class="mb-2">{{ 'common.confirmationNumber' | translate }}</label>
                    <input type="text" class="form-control" name="confirmationNumber" id="confirmationNumber"
                        [(ngModel)]="conditions.confirmationNumber"
                        placeholder="{{ 'common.confirmationNumber' | translate }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="orderNumber" class="mb-2">{{ 'common.orderNumber' | translate }}</label>
                    <input type="text" class="form-control" name="orderNumber" id="orderNumber"
                        [(ngModel)]="conditions.orderNumber" placeholder="{{ 'common.orderNumber' | translate }}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="familyName" class="mb-2">{{ 'common.familyName' | translate }}</label>
                    <input type="text" class="form-control" name="familyName" id="familyName"
                        [(ngModel)]="conditions.customer.familyName"
                        placeholder="{{ 'common.familyName' | translate }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="givenName" class="mb-2">{{ 'common.givenName' | translate }}</label>
                    <input type="text" class="form-control" name="givenName" id="givenName"
                        [(ngModel)]="conditions.customer.givenName" placeholder="{{ 'common.givenName' | translate }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="email" class="mb-2">{{ 'common.email' | translate }}</label>
                    <input type="email" class="form-control" name="email" id="email"
                        [(ngModel)]="conditions.customer.email" placeholder="{{ 'common.email' | translate }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="telephone" class="mb-2">{{ 'order.download.conditions.telephone' | translate }}</label>
                    <input type="telephone" class="form-control" name="telephone" id="telephone"
                        [(ngModel)]="conditions.customer.telephone"
                        placeholder="{{ 'order.download.conditions.telephone' | translate }}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="orderStatus" class="mb-2">{{ 'common.orderStatus' | translate }}</label>
                    <select class="form-control" name="orderStatus" id="orderStatus"
                        [(ngModel)]="conditions.orderStatus">
                        <option value="">{{ 'common.all' | translate }}</option>
                        <!-- <option [value]="orderStatus.OrderCancelled">{{ 'order.download.orderStatus.orderCancelled' | translate }}</option> -->
                        <option [value]="orderStatus.OrderDelivered">
                            {{ 'order.download.orderStatus.orderDelivered' | translate }}</option>
                        <!-- <option [value]="orderStatus.OrderPaymentDue">{{ 'order.download.orderStatus.orderPaymentDue' | translate }}</option> -->
                        <!-- <option [value]="orderStatus.OrderPickupAvailable">{{ 'order.download.orderStatus.orderPickupAvailable' | translate }}</option> -->
                        <!-- <option [value]="orderStatus.OrderProblem">{{ 'order.download.orderStatus.orderProblem' | translate }}</option> -->
                        <option [value]="orderStatus.OrderProcessing">
                            {{ 'order.download.orderStatus.orderProcessing' | translate }}</option>
                        <option [value]="orderStatus.OrderReturned">
                            {{ 'order.download.orderStatus.orderReturned' | translate }}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="paymentMethodType" class="mb-2">{{ 'common.paymentMethod' | translate }}</label>
                    <select class="form-control" name="paymentMethodType" id="paymentMethodType"
                        [(ngModel)]="conditions.paymentMethodType">
                        <option value="">{{ 'common.all' | translate }}</option>
                        <option [value]="paymentMethodType.Cash">{{ 'common.paymentMethodType.cash' | translate }}
                        </option>
                        <option [value]="paymentMethodType.Account">{{ 'common.paymentMethodType.account' | translate }}
                        </option>
                        <option [value]="paymentMethodType.EMoney">{{ 'common.paymentMethodType.eMoney' | translate }}
                        </option>
                        <option [value]="paymentMethodType.CreditCard">
                            {{ 'common.paymentMethodType.creditCard' | translate }}</option>
                        <option [value]="paymentMethodType.MovieTicket">
                            {{ 'common.paymentMethodType.movieTicket' | translate }}</option>
                        <option [value]="paymentMethodType.Others">{{ 'common.paymentMethodType.others' | translate }}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="eventStartDateFrom"
                        class="mb-2">{{ 'order.download.conditions.eventStartDateFrom' | translate }}</label>
                    <input type="text" name="eventStartDateFrom" id="eventStartDateFrom" placeholder="YYYY/MM/DD"
                        class="form-control" #eventStartDateFrom="bsDatepicker" bsDatepicker
                        [(ngModel)]="conditions.eventStartDateFrom"
                        [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD', adaptivePosition: true, showWeekNumbers: false }"
                        readonly (onShown)="onShowPicker($event)" (click)="setDatePicker()">
                </div>
                <div class="form-group col-md-3">
                    <label for="eventStartDateThrough"
                        class="mb-2">{{ 'order.download.conditions.eventStartDateThrough' | translate }}</label>
                    <input type="text" name="eventStartDateThrough" id="eventStartDateThrough" placeholder="YYYY/MM/DD"
                        class="form-control" #eventStartDateThrough="bsDatepicker" bsDatepicker
                        [(ngModel)]="conditions.eventStartDateThrough"
                        [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD', adaptivePosition: true, showWeekNumbers: false }"
                        readonly (onShown)="onShowPicker($event)" (click)="setDatePicker()">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="posId" class="mb-2">{{ 'order.download.conditions.pos' | translate }}</label>
                    <select class="form-control" name="posId" id="posId" [(ngModel)]="conditions.posId">
                        <option value="">{{ 'common.all' | translate }}</option>
                        <option *ngFor="let pos of (user | async).seller.hasPOS" [value]="pos.id">{{ pos.name }}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="csvFormat" class="mb-2">{{ 'order.download.conditions.csvFormat' | translate }}</label>
                    <select class="form-control" name="csvFormat" id="csvFormat" [(ngModel)]="conditions.csvFormat">
                        <option [value]="csvFormat.Default">{{ 'order.download.csvFormat.default' | translate }}</option>
                        <option [value]="csvFormat.Custom">{{ 'order.download.csvFormat.custom' | translate }}</option>
                    </select>
                </div>
            </div>
            <div class="buttons mx-auto text-center">
                <button type="submit" class="btn btn-primary btn-block py-3 mb-3"
                    [disabled]="isLoading | async">{{ 'order.download.download' | translate }}</button>
                <button type="button" class="btn btn-outline-primary btn-block py-3"
                    (click)="downloadConditionClear()">{{ 'order.download.clear' | translate }}</button>
            </div>
        </form>
    </div>
    <div class="buttons mx-auto text-center">
        <button type="button" class="btn btn-link"
            routerLink="/order">{{ 'order.download.prev' | translate }}</button>
    </div>
</div>