<form [formGroup]="formGroup">
    <ng-container *ngFor="let key of getProfileFormKeys()">
        <div *ngIf="!(key === 'posId' && posList.length === 0) 
        && !(key === 'entranceGateId' && entranceGateList.length === 0)" class="form-group row">
            <div class="col-md-4 py-2 text-md-right ">
                <div class="d-inline-flex align-items-center">
                    <p *ngIf="!getAdditionalProperty(key)">{{ 'form.label.' + key | translate }}</p>
                    <p *ngIf="getAdditionalProperty(key)">
                        {{ getAdditionalProperty(key)?.label | changeLanguage }}</p>
                    <p *ngIf="isRequired(key)" class="badge badge-danger ml-2">{{ 'form.required' |
                        translate }}
                    </p>
                </div>
            </div>
            <div class="col-md-8">
                <select *ngIf="key === 'theaterId'" class="form-control" [formControlName]="key"
                    (change)="changeTheater()">
                    <option value="">{{ 'setting.unselected' | translate }}</option>
                    <option *ngFor="let theater of theaters" [value]="theater.id">
                        {{ theater.name | changeLanguage }}</option>
                </select>
                <select *ngIf="key === 'posId'" class="form-control" [formControlName]="key">
                    <option value="">{{ 'setting.unselected' | translate }}</option>
                    <option *ngFor="let pos of posList" [value]="pos.id">{{ pos.name }}</option>
                </select>
                <select *ngIf="key === 'entranceGateId'" class="form-control" [formControlName]="key">
                    <option value="">{{ 'setting.unselected' | translate }}</option>
                    <option *ngFor="let entranceGate of entranceGateList" [value]="entranceGate.identifier">
                        {{ entranceGate.name | changeLanguage }}</option>
                </select>
            </div>
        </div>
    </ng-container>
</form>