<div class="cover" [class.active]="isOpen" (click)="close.emit()"></div>

<div class="menu text-white bg-dark" [class.active]="isOpen">
    <ul>
        <li *ngIf="isVisible('purchase')" class="p-3 border-bottom pointer" routerLink="/purchase/root" (click)="close.emit()"><i class="fas fa-shopping-cart mr-2"></i>{{ 'menu.purchase' | translate }}</li>
        <li *ngIf="isVisible('inquiry')" class="p-3 border-bottom pointer" routerLink="/inquiry/input" (click)="close.emit()"><i class="fas fa-search mr-2"></i>{{ 'menu.inquiry' | translate }}</li>
        <li *ngIf="isVisible('order')" class="p-3 border-bottom pointer" routerLink="/order/list" (click)="close.emit()"><i class="far fa-list-alt mr-2"></i>{{ 'menu.orderSearch' | translate }}</li>
        <li *ngIf="isVisible('admission')" class="p-3 border-bottom pointer" routerLink="/admission/schedule" (click)="close.emit()"><i class="far fa-check-circle mr-2"></i>{{ 'menu.admission' | translate }}</li>
        <li *ngIf="isVisible('setting')" class="p-3 border-bottom pointer" routerLink="/setting" (click)="close.emit()"><i class="fas fa-cog mr-2"></i>{{ 'menu.settings' | translate }}</li>
        <li *ngIf="isVisible('auth')" class="p-3 border-bottom pointer" (click)="signOut()"><i class="fas fa-sign-out-alt mr-2"></i>{{ 'menu.logout' | translate }}</li>
    </ul>
</div>