<div class="cover" [class.active]="isOpen" (tap)="close.emit()"></div>

<div class="menu text-white bg-dark" [class.active]="isOpen">
    <ul>
        <li *ngIf="isVisible('purchase')" class="p-3 border-bottom pointer" routerLink="/purchase/root" (tap)="close.emit()"><i class="fas fa-shopping-cart mr-2"></i>{{ 'menu.purchase' | translate }}</li>
        <li *ngIf="isVisible('inquiry')" class="p-3 border-bottom pointer" routerLink="/inquiry/input" (tap)="close.emit()"><i class="fas fa-search mr-2"></i>{{ 'menu.inquiry' | translate }}</li>
        <li *ngIf="isVisible('order')" class="p-3 border-bottom pointer" routerLink="/order/search" (tap)="close.emit()"><i class="far fa-list-alt mr-2"></i>{{ 'menu.orderSearch' | translate }}</li>
        <li *ngIf="isVisible('reservation')" class="p-3 border-bottom pointer" routerLink="/reservation/search" (tap)="close.emit()"><i class="far fa-list-alt mr-2"></i>{{ 'menu.reservationSearch' | translate }}</li>
        <li *ngIf="isVisible('admission')" class="p-3 border-bottom pointer" routerLink="/admission/schedule" (tap)="close.emit()"><i class="far fa-check-circle mr-2"></i>{{ 'menu.admission' | translate }}</li>
        <li *ngIf="isVisible('setting')" class="p-3 border-bottom pointer" routerLink="/setting" (tap)="close.emit()"><i class="fas fa-cog mr-2"></i>{{ 'menu.settings' | translate }}</li>
        <li *ngIf="isVisible('development')" class="p-3 border-bottom pointer" routerLink="/development" (tap)="close.emit()"><i class="fas fa-flask mr-2"></i>{{ 'menu.development' | translate }}</li>
        <li *ngIf="isVisible('instruction')" class="border-bottom pointer" (tap)="close.emit()"><a [href]="environment.INSTRUCTION_URL" target="_blank" class="d-block p-3"><i class="far fa-file mr-2"></i>{{ 'menu.instruction' | translate }}</a></li>
        <li *ngIf="isVisible('auth')" class="p-3 border-bottom pointer" (tap)="signOut()"><i class="fas fa-sign-out-alt mr-2"></i>{{ 'menu.logout' | translate }}</li>
    </ul>
</div>